---
layout: page-chauffage
titre: Installation de ballon thermodynamique, PAC & Poêle à bois ou à granulés
title: Entreprise de travaux de chauffage en Alsace | Finay
description: Notre entreprise en ravalement de façade opère sur tout le territoire du Bas-Rhin et de la Moselle
permalink: /chauffage/
robots: index,follow
---
<div id="chauffage">
    
        <p class="chauffage-intro">Vous êtes à la recherche d’un mode de chauffage alternatif, plus économe et plus écologique que votre système de chauffage actuel ? Vous pouvez faire appel à nos services pour <strong></strong>installer un nouveau système de chauffage</strong> et profiter par la même occasion des nombreuses aides pour financer votre nouvelle installation.</p>
    <section id="pompe" class="box-shadow">
        <div class="chauffage-presentation bis">
            <img src="/assets/images/chauffage/pac-bis.png" alt="pompe à chaleur Bosch Compress 7000 AW Aérothermique Air-Air">
            <div>
            <h2>Installation d'une pompe à chaleur</h2>
            <p>Une <strong>pompe à chaleur (PAC)</strong> est un système de chauffage écologique permettant de chauffer son logement en extrayant les calories présentes dans l’air pour ensuite injecter la chaleur récupérée dans son habitation via un radiateur, plancher chauffant ou d’autres types de modes de chauffage.<br>
                Le fonctionnement de la <strong>pompe à chaleur</strong> permet de faire des économies importantes d’énergie en allant chercher la chaleur déjà présente dans l'air extérieur. La pompe à chaleur crée donc davantage d’énergie qu’elle n’en consomme, contrairement aux modes de chauffage plus traditionnels qui convertissent des ressources en chaleur.</p>
            
            <div class="second-cta">
                <a class="btn" href="#form">Contact & Devis</a>
            </div>
            </div>
        </div>
        
        <hr>
        <div class="chauffage-questions">
            <h3>Questions fréquentes sur les pompes à chaleur</h3>
            <details class="box-shadow light">
                <summary><h4>Comment fonctionne une pompe à chaleur ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>Une pompe à chaleur fonctionne en transférant la chaleur d'un endroit à un autre à l'aide d'un fluide frigorigène qui circule dans un système fermé. La pompe à chaleur utilise le principe de la thermodynamique pour extraire la chaleur de l'air extérieur, de l'eau souterraine ou du sol, puis la transfère à l'intérieur de la maison pour chauffer l'espace.
                    <br><br>
                    Le processus de fonctionnement est le suivant : la pompe à chaleur extrait la chaleur du milieu extérieur (air, eau ou sol) en utilisant un évaporateur. Cette chaleur est transférée au fluide frigorigène qui se vaporise. Le gaz chaud est ensuite comprimé, ce qui augmente sa température, avant d'être envoyé dans le condenseur où la chaleur est libérée à l'intérieur de la maison. Le fluide frigorigène se condense à nouveau et retourne à l'évaporateur pour recommencer le cycle.
                    <br><br>
                    Ainsi, la pompe à chaleur permet de récupérer une source d'énergie gratuite et renouvelable pour chauffer l'intérieur d'une maison. De plus, la pompe à chaleur est une solution économe en énergie car elle utilise l'électricité uniquement pour faire fonctionner le compresseur, le ventilateur et la pompe à eau, ce qui permet de réduire considérablement les coûts de chauffage par rapport aux systèmes de chauffage traditionnels.
                </p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Quelle est la différence entre une pompe à chaleur air-air et air-eau ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                    <p>
                        La principale différence entre une pompe à chaleur air-air et une pompe à chaleur air-eau réside dans le mode de diffusion de la chaleur.
                        <br><br>
                        Une pompe à chaleur air-air utilise l'air extérieur comme source de chaleur pour chauffer l'air intérieur de la maison.<br> Elle extrait la chaleur de l'air extérieur à l'aide d'un évaporateur et la diffuse directement dans la maison grâce à un ventilateur.<br> Elle peut également produire de l'air frais en été en fonctionnant en mode climatisation.
                        <br><br>
                        En revanche, une pompe à chaleur air-eau utilise également l'air extérieur pour produire de la chaleur, mais cette chaleur est ensuite transférée à l'eau d'un circuit de chauffage central pour chauffer la maison.<br> Elle utilise un évaporateur pour extraire la chaleur de l'air extérieur, puis un échangeur de chaleur transfère cette chaleur à l'eau du circuit de chauffage.<br> La pompe à chaleur air-eau peut également produire de l'eau chaude sanitaire en utilisant un ballon d'eau chaude.
                        <br><br>
                        En résumé, la différence entre une pompe à chaleur air-air et une pompe à chaleur air-eau réside dans le mode de diffusion de la chaleur.<br> La pompe à chaleur air-air diffuse directement la chaleur dans l'air intérieur, tandis que la pompe à chaleur air-eau transfère la chaleur à l'eau d'un circuit de chauffage central pour chauffer la maison.
                    </p>
            </details>
            <!--
            <details class="box-shadow light">
                <summary><h4>Quelles sont les aides pour l'installation d'une pompe à chaleur ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>A venir</p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Qu'est-ce que le Coefficient de Performance ou COP ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>A venir</p>
            </details>
            -->
        </div>
 
    </section>

    <section id="ballons" class="box-shadow">
        <div class="chauffage-presentation bis">
            <img src="/assets/images/chauffage/ballon-bis.png" alt="Ballon d'eau chaude thermodynamique - De Dietrich">
            <div>
            <h2>Installation de ballon d'eau chaude thermodynamique</h2>
            <p>Le <strong>chauffe-eau ou ballon thermodynamique</strong> est un système de production d’eau chaude composé d’une pompe à chaleur et d’un ballon de stockage d’eau.
                La pompe à chaleur du <strong>ballon d'eau chaude thermodynamique</strong> va venir récupérer les calories déjà présentes dans l’air extérieur, le plus souvent l’air présent dans la pièce où il est installé ou plus rarement en utilisant l’air extérieur.<br> Les calories extraites vont ensuite passer par un fluide frigorigène qui va lui-même venir chauffer l’eau chaude sanitaire de son logement.</p>
                <div class="second-cta">
                    <a class="btn" href="#form">Contact & Devis</a>
                </div>
            </div>
        </div>

        <hr>
        <div class="chauffage-questions">
            <h3>Questions fréquentes sur les ballons thermodynamiques</h3>
            <details class="box-shadow light">
                <summary><h4>Quels sont les avantages d'installer un ballon thermodynamique ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>
                    <ul>
                        <li>Il permet de faire des économies d'énergie en ayant une consommation 60% inférieure à un chauffe-eau électrique standard.</li>
                        <li>L'installation d'un chauffe-eau thermodynamique est élligible à de nombreuses aides à condition d'être installé par un artisan certifié RGE et QualiPAC.</li>
                        <li>C'est un appareil écologique utilisant une énergié renouvelable (l'air) et émettant très peu de CO2.</li>
                        <li>Bon Coefficient de Performance(COP) : pour 1 kW consommé, l'eau chaude récupère 3 à 4 kW.</li>
                    </ul>
                </p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Quelles sont les aides pour l'installation d'un ballon thermodynamique ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>L'installation d'un ballon thermodynamique vous permet de solliciter des aides pour réduire le coût de son installation.<br>
                    Selon le revenu de votre ménage vous pouvez bénéficier des aides suivantes :
                    <ul>
                        <li>MaPrimeRénov'</li>
                        <li>MaPrimeRénov' Sérénité : si vous effectuez un bouquet de travaux</li>
                        <li>La prime CEE</li>
                        <li>La TVA réduite à 5,5%</li>
                    </ul>
                </p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Quels sont les inconvénients du chauffe-eau thermodynamique ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>
                    <ul>
                        <li>Il ne fonctionne pas à 100% avec des énergies renouvelables. Il nécessite de consommer tout de même de l'électricité pour fonctionner.</li>
                        <li>Sur certains modèles le ventilateur de la pompe à chaleur peut être bruyant. Il est donc recommandé de ne pas l'installer à côté d'une chambre à cause des nuisances sonores.</li>
                        <li>Il doit être installé dans un espace minimal de 20m3.</li>
                    </ul>
                </p>
            </details>
            
        </div>

    </section>

    <section id="clim-reversible" class="box-shadow">
        <div class="chauffage-presentation bis">
            <img src="/assets/images/chauffage/bosch-6000i.png" alt="Climatisation réversible - Bosch Climate 6000i">
            <div>
            <h2>Installation d'une climatisation réversible</h2>
            <p>La climatisation réversible est une solution de plus en plus populaire pour maintenir une température agréable tout au long de l'année. Que ce soit pour chauffer votre maison en hiver ou la rafraîchir en été, la climatisation réversible offre une flexibilité incomparable avec une installation souvent moins lourde que d'autres systèmes.<br> Si vous cherchez à améliorer le confort de votre logement, la climatisation réversible est une option à considérer sérieusement.<br> Avec une installation rapide et facile, une consommation d'énergie réduite et des options de contrôle avancées, les systèmes de climatisation réversible sont une solution pratique et économique pour maintenir une température optimale en tout temps.</p>
                <div class="second-cta">
                    <a class="btn" href="#form">Contact & Devis</a>
                </div>
            </div>
        </div>

        <hr>
        <div class="chauffage-questions">
            <h3>Questions fréquentes sur la climatisation réversible</h3>
            <details class="box-shadow light">
                <summary><h4>Comment fonctionne une climatisation réversible ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>Une climatisation réversible produit de la chaleur quand il fait froid et inversement.
                    <br>Egalement appelé pompe à chaleur air-air, la climatisation réversible récupère les calories de l'air extérieur pour rapporter de la chaleur à l'intérieur.<br>
                    A l'inverse, en été, il capture les calories de l'intérieur du logement pour les évacuer à l'extérieur.
                </p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Une climatisation réversible permet-elle vraiment de se chauffer efficacement ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>Oui. On trouve aujoourd'hui des équiepments avec des hauts coefficients de performance. Coefficients souvent trois à huit fois supérieurs à ceux d'un radiateur électrique.<br>
                Il faudra toutefois faire attention au niveau de confort souhaité. Une climatisation réversible plus performante en refroidissement le souvent un peu moins en chauffage et inversement.<br>
                Ce choix reposera sur le coefficient saisonnier d'efficacité énergétique (Seer) et le coefficient saisonnier de performance (Scop), qui indiquent réciproquement les performances en mode froid et en mode chaud. 
                </p>
            </details>
        </div>

    </section>

    <section id="poeles" class="box-shadow">
        <div class="chauffage-presentation bis">
            <img src="/assets/images/chauffage/poele-bis.png" alt="Poêle à granulés - De Dietrich Rondalia">
            <div>
            <h2>Installation d'un poêle à bois ou à granulés</h2>
            <p>Mode de chauffage traditionnel, ayant un haut rendement énergétique en utilisant un combustible bon marché et renouvelable, le poêle à bois est un des équipements de chauffage les plus intéressants.<br> <strong>L’installation d’un poêle à bois</strong> se fait simplement et permet de profiter d’un mode de chauffage décentralisé avec une chaleur et une ambiance toute particulière.
                <br>En installant un <strong>poêle à bûches ou à granulés</strong>, il est possible de se chauffer avec un combustible bon marché. En effet, se chauffer au bois est deux fois moins cher qu’avec du gaz et quatre fois moins cher qu’avec un chauffage électrique.</p>
                <div class="second-cta">
                    <a class="btn" href="#form">Contact & Devis</a>
                </div>
            </div>
        </div>

        <hr>
        <div class="chauffage-questions">
            <h3>Questions fréquentes sur les poêles à bois & à granulés</h3>
            <!--
            <details class="box-shadow light">
                <summary><h4>Quelles sont les aides pour l'installation d'un poêle ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>...</p>
            </details>
            <details class="box-shadow light">
                <summary><h4></h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>...</p>
            </details>
            -->
        </div>


        
    </section>

    <section class="chauffage-questions box-shadow" id="aides-chauffage" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <h2>Aides & subventions</h2>
        
        <details class="box-shadow light">
            <summary><h3 itemprop="name">Quelles sont les aides MaPrimeRénov' pour une installation/rénovation de chauffage ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></summary>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2" colspan="1">ÉQUIPEMENTS
                                ET MATÉRIAUX ÉLIGIBLES</th>
                            <th colspan="4">AIDE POUR LES MÉNAGES</th>
                        </tr>
                        <tr>
                            <td class="bleu">AUX
                                RESSOURCES
                                TRÈS
                                MODESTES</td>
                            <td class="jaune">AUX
                                RESSOURCES
                                MODESTES</td>
                            <td class="violet">AUX
                                RESSOURCES
                                INTERMÉDIAIRES</td>
                            <td class="rose">AUX
                                RESSOURCES
                                SUPÉRIEURES</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chaudière gaz à très haute
                                performance énergétique
                                pour les bâtiments non raccordés
                                à un réseau de chaleur vertueux
                                aidé par l’ADEME</td>
                            <td>1 200€</td>
                            <td>800€</td>
                            <td>non éligible</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Raccordement à un réseau de chaleur
                                et/ou de froid en Métropole
                                et Outre-mer</td>
                            <td>1 200€</td>
                            <td>800€</td>
                            <td>400€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chauffe-eau thermodynamique</td>
                            <td>1 200€</td>
                            <td>800€</td>
                            <td>400€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Pompe à chaleur air/eau
                                (dont PAC hybrides)</td>
                            <td>5 000€</td>
                            <td>4 000€</td>
                            <td>3 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Pompe à chaleur géothermique
                                ou solarothermique
                                (dont PAC hybrides) </td>
                            <td>11 000€</td>
                            <td>9 000€</td>
                            <td>5 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chauffe-eau solaire individuel
                                (et dispositifs solaires pour
                                le chauffage de l’eau)</td>
                            <td>4 000€</td>
                            <td>3 000€</td>
                            <td>2 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Système solaire combiné
                                (et dispositifs solaires pour
                                le chauffage des locaux)</td>
                            <td>11 000€</td>
                            <td>9 000€</td>
                            <td>5 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Partie thermique d’un équipement
                                PVT eau (système hybride
                                photovoltaïque et thermique)</td>
                            <td>2 500€</td>
                            <td>2 000€</td>
                            <td>1 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Poêle à bûches et cuisinière
                                à bûches </td>
                            <td>2 500€</td>
                            <td>2 000€</td>
                            <td>1 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Poêle à granulés et cuisinière
                                à granulés</td>
                            <td>3 000€</td>
                            <td>2 500€</td>
                            <td>1 500€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chaudière bois à alimentation
                                manuelle (bûches)</td>
                            <td>9 000€</td>
                            <td>7 500€</td>
                            <td>4 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chaudière bois à alimentation
                                automatique (granulés, plaquettes)</td>
                            <td>11 000€</td>
                            <td>9 000€</td>
                            <td>5 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Foyer fermé et insert à bûches
                                ou à granulés</td>
                            <td>2 500€</td>
                            <td>1 500€</td>
                            <td>800€</td>
                            <td>non éligible</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </details>
        <!--
        <details class="box-shadow light">
            <summary><h3>Question 1</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></summary>
            <p>A venir</p>
        </details>
        -->
        
    </section>


    

    <section class="chauffage-questions finay">
        <div>
        <h2>Finay votre installateur qualifié RGE pour la rénovation de votre chauffage</h2>
        <p>Finay, entreprise experte dans les travaux de rénovation énergétique possède les qualifications nécessaires pour <strong>installer les modes de chauffage</strong> de votre choix et ainsi contribuer à améliorer les performances énergétiques de votre chauffage, de votre facture et de votre habitation.<br>Nos différentes certifications : <strong>RGE, Quali Pac et Quali Bois</strong> vous assure de pouvoir bénéfier des différentes aides gouvernementales et locales pour vos futurs travaux.<br>
        
        La double expertise de notre entreprise en isolation extérieure et en chauffage vous permet de débloquer des aides supplémentaires et d'améliorer sensiblement le DPE de votre logement, tout en réduisant encore vos dépenses en énergie.</p>
        </div>
    </section>
</div>
{% include zones.html %}
<h2 class="left">Nous contacter pour un devis ou une question sur votre projet</h2>
{% include form.html %}

