---
layout: page-chauffage
titre: Travaux d'installation & rénovation de chauffage
title: Entreprise de travaux de chauffage en Alsace | Finay
description: Notre entreprise en ravalement de façade opère sur tout le territoire du Bas-Rhin et de la Moselle
permalink: /chauffage/
---
<div id="chauffage">
    <nav class="nav-chauffage">
        <ul>
            <a href="#pompe">
                <li>Pompe à chaleur</li>
            </a>
            <a href="#ballons">
                <li>Ballon thermodynamique</li>
            </a>
            <a href="#poeles">
                <li>Poêle à granulés et à bûches</li>
            </a>
            <a href="#aides-chauffage">
                <li>Aides & subventions</li>
            </a>
            
        </ul>
    </nav>
        <p class="chauffage-intro">Vous êtes à la recherche d’un mode de chauffage alternatif, plus économe et plus écologique que votre système de chauffage actuel ? Vous pouvez faire appel à nos services pour <strong></strong>installer un nouveau système de chauffage</strong> et profiter par la même occasion des nombreuses aides pour financer votre nouvelle installation.</p>
    <section id="pompe" class="box-shadow">
        <div class="chauffage-presentation">
            <h2>Installation d'une pompe à chaleur</h2>
            <p>Une <strong>pompe à chaleur (PAC)</strong> est un système de chauffage écologique permettant de chauffer son logement en extrayant les calories présentes dans l’air pour ensuite injecter la chaleur récupérée dans son habitation via un radiateur, plancher chauffant ou d’autres types de modes de chauffage.<br>
                Le fonctionnement de la <strong>pompe à chaleur</strong> permet de faire des économies importantes d’énergie en allant chercher la chaleur déjà présente dans l'air extérieur. La pompe à chaleur crée donc davantage d’énergie qu’elle n’en consomme, contrairement aux modes de chauffage plus traditionnels qui convertissent des ressources en chaleur.</p>
        </div>
        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Pompe à chaleur - Bosch Compress 7000</h3>
                <p>
                    La pompe à chaleur Compress 7000 AW de Bosch est une des pompes à chaleur aérothermique(pompe à chaleur air-air). Sa structure innovante en EPP la rend à la fois très robuste et silencieuse atteignant 39db, soit une des plus silencieuses du marché.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                        <ul>
                            <li>Haute efficacité de chauffage : efficacité énergétique saisonnière (EtaS) jusqu'à 203 %
                            </li>
                            <li>Très silencieuse : pression sonore à 39 dB(A) - Température départ maximale : 62 °C</li>
                            <li>6 modèles de 5 à 17 kW et 4 modules hydrauliques tout inclus : module mural avec appoint électrique ou relève chaudière, module colonne avec ballon ECS intégré avec appoint électrique ou appoint solaire</li>
                            <li>Technologie « Compact » : liaison hydraulique entre le module intérieur et extérieur, pas de manipulation de fluide frigorifique</li>
                            <li>Structure intérieure en EPP (polypropylène expansé) : niveau sonore extrêmement bas, légèreté, robustesse</li>
                            <li>Un COP (coefficient de performance) jusqu’à 5,1</li>
                            <li>Plage de fonctionnement de -20 °C à +46 °C</li>
                            <li>Modulation de puissance : gamme Inverter</li>
                            <li>Résistance électrique intégrée pour couvrir des besoins supplémentaires</li>
                            <li>Niveau sonore extrêmement bas et un mode nuit</li>
                        </ul>
                </details>
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div>{% include caract_technique/bosch-7000AW.html %}</div>
                </details>
                
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/compress-7000-aw.jpeg" alt="pompe à chaleur Bosch Compress 7000 AW Aérothermique Air-Air">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Climatisation réversible - Bosch Climate 6000i</h3>
                <p>
                Système de chauffage thermodynamique, la climatisation réversible vous sert à chauffer votre domicile l'hiver et le refroidir en été. Connectée, cette climatisation réversible vous permet de la piloter via votre smartphone pour que votre foyer soit à température une fois rentré chez vous.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Sonde d'humidité intégrée :</li>
                        <li>Détecteur de présence :</li>
                        <li>Application connectée pour piloter votre climatiseur à distance :</li>
                        <li>Technologie de filtration de l'air performante :</li>
                        <li>Haut rendement énergétique pour le chauffage et le refroidissement</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div>{% include caract_technique/climate-6000i.html %}</div>
                </details>
                -->
                
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/bosch-6000i.png" alt="Climatisation réversible - Bosch Climate 6000i">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Pompe à chaleur air/eau - De Dietrich Alezio</h3>
                <p>
                Avec une production jusqu'à 5,1 kWh pour 1 kWh électrique consommé et son prix attractif, cette pompe à chaleur air/eau est une des plus rentables du marché. Celle-ci peut d'ailleurs se connecter avec votre chaudière gaz ou fioul actuelle et être pilotée à distance.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Fonction hybride avec votre chaudière existance</li>
                        <li>Pompe à chaleur connectée contrôlable à distance</li>
                        <li>Gain d'énergie de 30% par rapport à une pompe à chaleur classique</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/pompe-chaleur-de-dietrich-alezio.jpeg" alt="Pompe à chaleur air/eau - De Dietrich">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Pompe à chaleur air/eau - Zubadan</h3>
                <p>
                Composée d'un module extérieur et intérieur, cette pompe à chaleur air/eau permet de récupérer jusqu'à 75% de l'énergie présente dans l'air extérieur pour venir chauffer votre réseau de chauffage tel que vos radiateurs ou votre plancher chauffant.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Maintien de la puissance de chauffe jusqu’à -15°C</li>
                        <li>Fonctionne jusqu’à -28°C</li>
                        <li>Niveau sonore de 42db</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
                
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/pompe-chaleur-zubadan.png" alt="Pompe à chaleur air/eau - Zubadan">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Pompe à chaleur - Daikin Altherma</h3>
                <p>
                Cette pompe à chaleur air/eau très connectée vous permet de couvrir vos besoins en chauffage et en eau chaude sanitaire tout en pilotant la production d'eau chaude et de chauffage à distance.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Fonctionne jusqu’à -25°C en extérieur</li>
                        <li>Pompe à chaleur silencieuse avec 42dB à 5m</li>
                        <li>Température de chauffage à 60°C par -10°C en extérieur</li>
                        <li>Faible empreinte au sol avec 0,36m2 de surface.</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/pompe-chaleur-daikin-altherma.png" alt="Pompe à chaleur - Daikin Altherma">
            </div>
        </div>
        <hr>
        <div class="chauffage-questions">
            <h3>Questions fréquentes sur les pompes à chaleur</h3>
            <!--
            <details class="box-shadow light">
                <summary><h4>Quelles sont les aides pour l'installation d'une pompe à chaleur ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>A venir</p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Qu'est-ce que le Coefficient de Performance ou COP ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>A venir</p>
            </details>
            -->
        </div>
 
    </section>

    <section id="ballons" class="box-shadow">
        <div class="chauffage-presentation">
            <h2>Installation de ballon d'eau chaude thermodynamique</h2>
            <p>Le <strong>chauffe-eau ou ballon thermodynamique</strong> est un système de production d’eau chaude composé d’une pompe à chaleur et d’un ballon de stockage d’eau.
                La pompe à chaleur du <strong>ballon d'eau chaude thermodynamique</strong> va venir récupérer les calories déjà présentes dans l’air extérieur, le plus souvent l’air présent dans la pièce où il est installé ou plus rarement en utilisant l’air extérieur.<br> Les calories extraites vont ensuite passer par un fluide frigorigène qui va lui-même venir chauffer l’eau chaude sanitaire de son logement.</p>
        </div>
        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Ballons thermodynamiques - Bosch</h3>
                <p>
                Chauffes-eau thermodynamiques avec un haut niveau de performance, les ballons Bosch vous permettent de faire d'importantes économies d'énergie sur la production de votre eau chaude sanitaire. Disposant de plusieurs modes d'utilisation, la production d'eau chaude s'adapte à vos besoins. Pour certains modèles, il est possible de les raccorder à d'autres sources d'énergie tel que l'énergie solaire.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Système avec pompe à chaleur intégrée</li>
                        <li>Production ECS par stratification permettant d’obtenir rapidement et longtemps de l’eau chaude sans avoir le ballon complet à température.</li>
                        <li>Cuve thermovitrifiée</li>
                        <li>Peu d’emprise au sol</li>
                        <li>Temps de chauffe court</li>
                        <li>Jusqu’à 70% d’énergie gratuite</li>
                        <li>Possible de combiner d’autres sources d’énergie tel que le solaire(pour les versions avec serpentin).</li>
                        <li>Différents modes d’utilisation</li>
                        <li>Un COP jusqu’à 2,98</li>
                        <li>Le ballon et la pompe à chaleur sont indépendants permettant de faire la révision de la pompe à chaleur sans impacter le ballon par exemple.</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/ballons-bosch.png" alt="Ballons chauffe-eau thermodynamiques - Bosch">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Ballon thermodynamique - Atlantic</h3>
                <p>
                Avec une capacité pouvant aller jusqu'à 270L, les ballons thermodyaniqmues made in france Egeo d'Atlantic sont parfaits pour les grandes familles. Etant connecté, ces chauffe-eau peuvent se programmer à distance selon les besoins de sa famille.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Déshumidification de l’air ambiant</li>
                        <li>Pompe à chaleur silencieuse à 54db</li>
                        <li>Interface tactile intuitive pour régler et visualiser la quantité d’eau chaude disponible</li>
                        <li>Pilotage à distance du volume d’eau à produire et des périodes de production depuis son smartphone via l’application Cozytouch</li>
                        <li>Fonction Boost afin d’augmenter la production deau chaude en cas d’imprévu.</li>
                        <li>Disponible entre 200 et 250L</li>
                        <li>COP à 2,40</li>
                    </ul>
                </details>
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="1">Caractéristiques</th>
                                    <th colspan="1">Unité</th>
                                    <th colspan="1">200 litres</th>
                                    <th colspan="1">250 litres</th>
                                    <th colspan="1">250 litres avec
                                        serpentin (hors
                                        France)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Poids à vide</td>
                                    <td>kg</td>
                                    <td>64</td>
                                    <td>71</td>
                                    <td>82</td>
                                </tr>
                                <tr>
                                    <td>Capacité de la cuve</td>
                                    <td>L</td>
                                    <td>200</td>
                                    <td>250</td>
                                    <td>240</td>
                                </tr>
                                <tr>
                                    <td>Surface d’échange serpentin</td>
                                    <td>m<sup>2</sup></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>0,62</td>
                                </tr>
                                <tr>
                                    <td>Protection anti-corrosion</td>
                                    <td>-</td>
                                    <td colspan="3">ACI Hybride</td>
                                </tr>
                                <tr>
                                    <td>Raccordement électrique (tension/fréquence)</td>
                                    <td>Volt/Hz</td>
                                    <td colspan="3">230 / 50</td>
                                </tr>
                                <tr>
                                    <td>Puissance maximale totale absorbée par
                                        l’appareil</td>
                                    <td>Watt</td>
                                    <td colspan="3">2250</td>
                                </tr>
                                <tr>
                                    <td>Puissance maximale absorbée par la PAC</td>
                                    <td>Watt</td>
                                    <td colspan="3">450</td>
                                </tr>
                                <tr>
                                    <td>Puissance absorbée par l’appoint électrique</td>
                                    <td>Watt</td>
                                    <td colspan="3">1800</td>
                                </tr>
                                <tr>
                                    <td>Plage de réglage de la consigne de température
                                        de l’eau</td>
                                    <td>°C</td>
                                    <td colspan="3">50 à 65</td>
                                </tr>
                                <tr>
                                    <td>Plage de température d’air d’utilisation de la
                                        pompe à chaleur</td>
                                    <td>°C</td>
                                    <td colspan="3">8 à 35</td>
                                </tr>
                                <tr>
                                    <td>Puissance acoustique max</td>
                                    <td>db(A)</td>
                                    <td colspan="3">54</td>
                                </tr>
                                <tr>
                                    <td>Fluide frigorigène R290</td>
                                    <td>g</td>
                                    <td>112</td>
                                    <td colspan="2">116</td>
                                    
                                </tr>
                                <tr>
                                    <td>Produit certifié NF Electricité Performance</td>
                                    <td></td>
                                    <td colspan="3">**</td>
                                </tr>
                                <tr>
                                    <td>Profil</td>
                                    <td>-</td>
                                    <td>L</td>
                                    <td>XL</td>
                                    <td>L</td>
                                </tr>
                                <tr>
                                    <td>Coefficient de performance (COP) selon profil de soutirage</td>
                                    <td>-</td>
                                    <td>2,40</td>
                                    <td>2,66</td>
                                    <td>2,5</td>
                                </tr>
                                <tr>
                                    <td>Puissance absorbée en régime stabilisé (Pes)</td>
                                    <td>W</td>
                                    <td>41</td>
                                    <td>44</td>
                                    <td>43</td>
                                </tr>
                                <tr>
                                    <td>Temps de chauffe (th) (1ère chauffe)</td>
                                    <td>h.min</td>
                                    <td>3,42</td>
                                    <td>4,34</td>
                                    <td>4,35</td>
                                </tr>
                                <tr>
                                    <td>Température de référence (Tref)</td>
                                    <td>°C</td>
                                    <td>53,3</td>
                                    <td>53,6</td>
                                    <td>53,6</td>
                                </tr>
                                <tr>
                                    <td>Quantité d’eau chaude à 40° : V40</td>
                                    <td>L</td>
                                    <td>270,5</td>
                                    <td>336,6</td>
                                    <td>337,9</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </details>
                
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/ballon-egeo.jpeg" alt="Ballon d'eau chaude thermodynamique - Atlantic">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Ballon thermodynamique - De Dietrich</h3>
                <p>
                Ce ballon d'eau chaude thermodynamique de la marque De Dietrich peut être combiné ou non à d'autres sources d'énergies tel que l'énergie solaire ou la chaudière. Le soleil pourra ainsi venir préchauffer l'eau du ballon. Si nécessaire la PAC pourra prendre le relais pouvant chauffer l'eau à elle seule à une températeur de 62°C. 
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Solution performante, combinable avec d'autres énergies</li>
                        <li>Ecologique : utilisation de la chaleur contenue dans l'air, énergie propre et renouvelable.</li>
                        <li>Eau chaude sanitaire en abondance : capacité de 214 à 270 litres</li>
                        <li>Performance : réchauffage de l'eau chaude sanitaire par la PAC jusqu'à 62°C</li>
                        <li>Plage de fonctionnement importante de -5°C et +35°C pour une utilisation toute l'année sur air extérieur ou air ambiant</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/ballon-de-dietrich-kaliko.jpeg" alt="Ballon d'eau chaude thermodynamique - De Dietrich">
            </div>
        </div>

        <hr>
        <div class="chauffage-questions">
            <h3>Questions fréquentes sur les ballons thermodynamiques</h3>
            <details class="box-shadow light">
                <summary><h4>Quels sont les avantages d'installer un ballon thermodynamique ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>
                    <ul>
                        <li>Il permet de faire des économies d'énergie en ayant une consommation 60% inférieure à un chauffe-eau électrique standard.</li>
                        <li>L'installation d'un chauffe-eau thermodynamique est élligible à de nombreuses aides à condition d'être installé par un artisan certifié RGE et QualiPAC.</li>
                        <li>C'est un appareil écologique utilisant une énergié renouvelable (l'air) et émettant très peu de CO2.</li>
                        <li>Bon Coefficient de Performance(COP) : pour 1 kW consommé, l'eau chaude récupère 3 à 4 kW.</li>
                    </ul>
                </p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Quelles sont les aides pour l'installation d'un ballon thermodynamique ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>L'installation d'un ballon thermodynamique vous permet de solliciter des aides pour réduire le coût de son installation.<br>
                    Selon le revenu de votre ménage vous pouvez bénéficier des aides suivantes :
                    <ul>
                        <li>MaPrimeRénov'</li>
                        <li>MaPrimeRénov' Sérénité : si vous effectuez un bouquet de travaux</li>
                        <li>La prime CEE</li>
                        <li>La TVA réduite à 5,5%</li>
                    </ul>
                </p>
            </details>
            <details class="box-shadow light">
                <summary><h4>Quels sont les inconvénients du chauffe-eau thermodynamique ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>
                    <ul>
                        <li>Il ne fonctionne pas à 100% avec des énergies renouvelables. Il nécessite de consommer tout de même de l'électricité pour fonctionner.</li>
                        <li>Sur certains modèles le ventilateur de la pompe à chaleur peut être bruyant. Il est donc recommandé de ne pas l'installer à côté d'une chambre à cause des nuisances sonores.</li>
                        <li>Il doit être installé dans un espace minimal de 20m3.</li>
                    </ul>
                </p>
            </details>
            
        </div>

    </section>

    <section id="poeles" class="box-shadow">
        <div class="chauffage-presentation">
            <h2>Installation d'un poêle à bois ou à granulés</h2>
            <p>Mode de chauffage traditionnel, ayant un haut rendement énergétique en utilisant un combustible bon marché et renouvelable, le poêle à bois est un des équipements de chauffage les plus intéressants.<br> <strong>L’installation d’un poêle à bois</strong> se fait simplement et permet de profiter d’un mode de chauffage décentralisé avec une chaleur et une ambiance toute particulière.
                <br>En installant un <strong>poêle à bûches ou à granulés</strong>, il est possible de se chauffer avec un combustible bon marché. En effet, se chauffer au bois est deux fois moins cher qu’avec du gaz et quatre fois moins cher qu’avec un chauffage électrique.</p>
        </div>
        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Poêle à granulés - De Dietrich Rondalia</h3>
                <p>
                    Avec un rendement de 91%, ce poêle à granulés connecté dont la puissance de chauffe va de 3 à 9kW peut avoir une autonomie allant jusqu'à deux jours de chauffe selon le mode de chauffe sélectionnée et son réservoir de 17kg.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Connecté et pilotable à distance via une télécommande</li>
                        <li>Design moderne et épuré</li>
                        <li>Réserve de 17kg permettant une autonomie allant jusqu’à deux jours selon le mode de fonctionnement.</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/de-dietrich-poele-granules-rondalia.jpeg" alt="Poêle à granulés - De Dietrich Rondalia">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Poêle à granulés - De Dietrich Rondalis</h3>
                <p>
                Disponible en 2 niveaux de puissance : de 2,5 à 6kW et de 2,5 à 9kW, ce poêle à granulés peut aller jusqu'à une autonomie de deux jours selon le mode de consommation sélectionné.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <ul>
                        <li>Plusieurs couleurs disponibles</li>
                        <li>Habillage en tôle(noir ou noir et blanc) ou en céramique(noir, blanc ou rouge bordeaux)</li>
                        <li>Deux niveaux de puissance disponible: 2,5 à 6kw ou de 2,5 à 9kw</li>
                        <li>Réserve de 16,5kg</li>
                        <li>Autonomie allant jusqu’à deux jours selon le mode de consommation.</li>
                        <li>Programmable via une télécommande ou via le thermostat d’ambiance Smart TC° et son application mobile.</li>
                    </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/de-dietrich-poele-granules-rondalis.jpeg" alt="Poêle à granulés - De Dietrich Rondalis">
            </div>
        </div>

        <div class="chauffage-item"> 
            <div class="chauffage-text">
                <h3 class="chauffage-titre">Poêle à bois - De Dietrich Ebenis 2</h3>
                <p>
                Avec une large vitre céramique et d'une puissance de 7kW couvrant ainsi une surface de chauffe de 70m<sup>2</sup>, ce poêle à bûches se destine à votre pièce de vie pour profiter au mieux de la chaleur et du spectacle qu'offre les flammes.
                </p>
                <details class="box-shadow light">
                    <summary><h4>Avantages<h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                        <ul>
                            <li>Puissance de 7kW</li>
                            <li>Large vitre</li>
                            <li>Fonction cullinaire avec chauffe-plat</li>
                        </ul>
                </details>
                <!--
                <details class="box-shadow light">
                    <summary><h4>Caractéristiques techniques</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></summary>
                    <div><p>A venir</p></div>
                </details>
                -->
            </div>
            <div class="chauffage-photo">
                <img src="/assets/images/chauffage/poele-bois-de-dietrich-ebenis-2.jpeg" alt="Poêle à bois - De Dietrich Ebenis 2">
            </div>
        </div>


        <hr>
        <div class="chauffage-questions">
            <h3>Questions fréquentes sur les poêles à bois & à granulés</h3>
            <!--
            <details class="box-shadow light">
                <summary><h4>Quelles sont les aides pour l'installation d'un poêle ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>...</p>
            </details>
            <details class="box-shadow light">
                <summary><h4></h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                    <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></summary>
                <p>...</p>
            </details>
            -->
        </div>


        
    </section>

    <section class="chauffage-questions box-shadow" id="aides-chauffage" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <h2>Aides & subventions</h2>
        
        <details class="box-shadow light">
            <summary><h3 itemprop="name">Quelles sont les aides MaPrimeRénov' pour une installation/rénovation de chauffage ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></summary>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2" colspan="1">ÉQUIPEMENTS
                                ET MATÉRIAUX ÉLIGIBLES</th>
                            <th colspan="4">AIDE POUR LES MÉNAGES</th>
                        </tr>
                        <tr>
                            <td class="bleu">AUX
                                RESSOURCES
                                TRÈS
                                MODESTES</td>
                            <td class="jaune">AUX
                                RESSOURCES
                                MODESTES</td>
                            <td class="violet">AUX
                                RESSOURCES
                                INTERMÉDIAIRES</td>
                            <td class="rose">AUX
                                RESSOURCES
                                SUPÉRIEURES</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chaudière gaz à très haute
                                performance énergétique
                                pour les bâtiments non raccordés
                                à un réseau de chaleur vertueux
                                aidé par l’ADEME</td>
                            <td>1 200€</td>
                            <td>800€</td>
                            <td>non éligible</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Raccordement à un réseau de chaleur
                                et/ou de froid en Métropole
                                et Outre-mer</td>
                            <td>1 200€</td>
                            <td>800€</td>
                            <td>400€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chauffe-eau thermodynamique</td>
                            <td>1 200€</td>
                            <td>800€</td>
                            <td>400€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Pompe à chaleur air/eau
                                (dont PAC hybrides)</td>
                            <td>5 000€</td>
                            <td>4 000€</td>
                            <td>3 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Pompe à chaleur géothermique
                                ou solarothermique
                                (dont PAC hybrides) </td>
                            <td>11 000€</td>
                            <td>9 000€</td>
                            <td>5 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chauffe-eau solaire individuel
                                (et dispositifs solaires pour
                                le chauffage de l’eau)</td>
                            <td>4 000€</td>
                            <td>3 000€</td>
                            <td>2 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Système solaire combiné
                                (et dispositifs solaires pour
                                le chauffage des locaux)</td>
                            <td>11 000€</td>
                            <td>9 000€</td>
                            <td>5 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Partie thermique d’un équipement
                                PVT eau (système hybride
                                photovoltaïque et thermique)</td>
                            <td>2 500€</td>
                            <td>2 000€</td>
                            <td>1 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Poêle à bûches et cuisinière
                                à bûches </td>
                            <td>2 500€</td>
                            <td>2 000€</td>
                            <td>1 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Poêle à granulés et cuisinière
                                à granulés</td>
                            <td>3 000€</td>
                            <td>2 500€</td>
                            <td>1 500€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chaudière bois à alimentation
                                manuelle (bûches)</td>
                            <td>9 000€</td>
                            <td>7 500€</td>
                            <td>4 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Chaudière bois à alimentation
                                automatique (granulés, plaquettes)</td>
                            <td>11 000€</td>
                            <td>9 000€</td>
                            <td>5 000€</td>
                            <td>non éligible</td>
                        </tr>
                        <tr>
                            <td>Foyer fermé et insert à bûches
                                ou à granulés</td>
                            <td>2 500€</td>
                            <td>1 500€</td>
                            <td>800€</td>
                            <td>non éligible</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </details>
        <!--
        <details class="box-shadow light">
            <summary><h3>Question 1</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
                <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></summary>
            <p>A venir</p>
        </details>
        -->
        
    </section>


    

    <section class="chauffage-questions finay">
        <div>
        <h2>Finay votre installateur qualifié RGE pour la rénovation de votre chauffage</h2>
        <p>Finay, entreprise experte dans les travaux de rénovation énergétique possède les qualifications nécessaires pour <strong>installer les modes de chauffage</strong> de votre choix et ainsi contribuer à améliorer les performances énergétiques de votre chauffage, de votre facture et de votre habitation.<br>Nos différentes certifications : <strong>RGE, Quali Pac et Quali Bois</strong> vous assure de pouvoir bénéfier des différentes aides gouvernementales et locales pour vos futurs travaux.<br>
        
        La double expertise de notre entreprise en isolation extérieure et en chauffage vous permet de débloquer des aides supplémentaires et d'améliorer sensiblement le DPE de votre logement, tout en réduisant encore vos dépenses en énergie.</p>
        </div>
    </section>
</div>
{% include zones.html %}
<h2 class="left">Nous contacter pour un devis ou une question sur votre projet</h2>
{% include form.html %}
