---
layout: default
title: Finay | Travaux d'isolation extérieure, de façade et toiture
---
<section class="inside">
<h2>Nos prestations</h2>
<ul class="grid">
  <li class="item-grid">
    <img src="https://as2.ftcdn.net/v2/jpg/01/75/45/95/1000_F_175459527_PfrVzwp6JgSItS618To9uXbWIIeRloJ1.jpg" alt="travaux d'isolation extérieure d'une maison avec des plaques">
    <div>
      <h3>Isolation extérieure</h3>
      <p>L’isolation par l’extérieure permet de bénéficier d’un gain en confort rapide et peu honéreux tout en réduisant l’impact des travaux sur votre habitat.</p>
      <a href="/isolation-extérieure/">En savoir plus</a>
    </div>
  </li>
  <li class="item-grid">
    <img src="https://as1.ftcdn.net/v2/jpg/00/41/31/24/1000_F_41312485_9QAo7aR786QUjdAAspZqg8czYIjztnit.jpg" alt="">
    <div>
      <h3>Ravalement de façade</h3>
      <p>Le ravalement de façade permet une mise en état ou la restauration de votre façade extérieure. Cette opération a pour but de remettre à neuf vos façades</p>
      <a href="/ravalement-de-façade/">En savoir plus</a>
    </div>
  </li>
  <li class="item-grid">
    <img src="https://as2.ftcdn.net/v2/jpg/03/79/71/45/1000_F_379714536_B4cJ6begM9jlwYDjc8tpQ7n7JpxG9WeA.jpg" alt="">
    <div>
      <h3>Toiture Zinguerie</h3>
      <p>Les toitures subissent également les effets du temps. Nous vous proposons donc le nettoyage et la restauratoion de votre toiture et zinguerie</p>
      <a href="/toiture-zinguerie/">En savoir plus</a>
    </div>
  </li>
</ul>
</section>
<section id="presentation">
  <div class="text-left">
    <p>Depuis bientôt 20 ans Finay
accompagne les personnes dans la rénovation de leur maison.
Soucieux de la qualité et de la longévité de notre travail, nous recherchons constamment à améliorer notre savoir et à utiliser les meilleurs produits</p>
  </div>
  <img src="https://as2.ftcdn.net/v2/jpg/01/75/45/95/1000_F_175459527_PfrVzwp6JgSItS618To9uXbWIIeRloJ1.jpg" alt="">
</section>
<section class="inside" id="certifications">
  <div class="certifications-home">
    <img src="/assets/images/icones/rge.png" alt="entreprise certifiée RGE Qualibat" class="">
    <img src="/assets/images/icones/sto.png" alt="entreprise certifiée STO" class="">
    <img src="/assets/images/icones/engie.png" alt="entreprise certifiée partenaire ENGIE" class="">
    <img src="/assets/images/icones/partenaire-solution.png" alt="entreprise certifiée partenaire EDF" class="">
  </div>
  <div class="certifications-texte">
    <h2>Nos certifications</h2>
    <p>
      Nos certifications, gage de notre savoir-faire vous permettent de bénéficier des aides de l’Etat pour vos travaux de rénovation et notamment dans l’amélioration du confort de votre habitat en effectuant des travaux d’isolation.
    </p>
  </div>
</section>
<section class="inside">
  <h2>Nos actualités & conseils</h2>
</section>
<section class="inside">
  <h2>Nos réalisations</h2>
</section>
<section class="inside">
  <h2>Nos clients témoignent</h2>
  <div class="reviews"></div>
  {% assign reviews = site.reviews | where: "published",true %}
  {% for review in reviews  %}
  <div class="review">
    <div class="review-author-abbr"></div>
    <div class="review-content">
      <h3 class="review-author">{{ review.author }}</h3>
      <span class="stars"></span>
      <p class="review-text">{{ review.content }}</p>
    </div>
  </div>
  {% endfor %}
</section>
<section class="inside" id="form-home">
  <h2>Nous contacter</h2>
  <div>
    <img src="https://as1.ftcdn.net/v2/jpg/00/85/68/64/1000_F_85686496_d4SC4AyTl1YpHrodohNjjH7nfj2MU2Ly.jpg" alt="">
    {% include form.html %}
  </div>
</section>

