---
layout: default
title: Finay | Travaux d'isolation extérieure, de façade et toiture
description: Nous vous accompagnons dans vos divers travaux de rénovation énergétique et de l'esthétique de votre habitation depuis près de 20 ans.
redirect_from:
- /reviews/sandrine-demange
---
<section class="inside">
<h2>Nos prestations</h2>
<ul class="grid">
  <li class="item-grid">
    <img src="/assets/images/travaux-isolation-exterieur-2.jpeg" width="350">
    <div>
      <h3>Isolation extérieure</h3>
      <p>L’isolation par l’extérieure permet de bénéficier d’un gain en confort rapide et peu honéreux tout en réduisant l’impact des travaux sur votre habitat.</p>
      <a href="/isolation-extérieure/">En savoir plus</a>
    </div>
  </li>
  <li class="item-grid">
    <img src="/assets/images/travaux-ravalement-de-facade.jpeg" alt="" width="350">
    <div>
      <h3>Ravalement de façade</h3>
      <p>Le ravalement de façade permet une mise en état ou la restauration de votre façade extérieure. Cette opération a pour but de remettre à neuf vos façades</p>
      <a href="/ravalement-de-façade/">En savoir plus</a>
    </div>
  </li>
  <li class="item-grid">
    <img src="https://as2.ftcdn.net/v2/jpg/00/89/71/69/1000_F_89716993_bdycBStKlC7PsmNCKklxOErQIeuoDcPf.jpg" alt="" width="350">
    <div>
      <h3>Toiture Zinguerie</h3>
      <p>Les toitures subissent également les effets du temps. Nous vous proposons donc le nettoyage et la restauratoion de votre toiture et zinguerie</p>
      <a href="/toiture-zinguerie/">En savoir plus</a>
    </div>
  </li>
</ul>
</section>

<section class="inside">
  <video controls poster="../assets/images/video-preview.jpg">
    <source src="../assets/images/FINAY LONG VERSION.webm"
            type="video/webm">
    <source src="../assets/images/finay-long.mp4" type="video/mp4">
  </video>
</section>

<section id="etapes" class="">
  <h2>Les étapes de votre projet</h2>
  <br>
  <ul class="steps overflow">
    <li>
      <img src="../assets/images/icones/pictos-entreprise/visite-technico.png" width="50">
     <p> Visite d'un technico-commercial</p>
    </li>
    <li>
      <img src="../assets/images/icones/pictos-entreprise/visite-conducteur.png" width="50">
      <p>Visite du conducteur des travaux</p>
    </li>
    <li>
      <img src="../assets/images/icones/pictos-entreprise/contrat.png" width="50">
      <p>Prise en charge des démarches admninistratives</p>
    </li>
    <li>
      <img src="../assets/images/icones/pictos-entreprise/aide.png" width="50">
      <p>Validation des subventions</p>
    </li>
    <li>
      <img src="../assets/images/icones/pictos-entreprise/pose-equipe.png" width="50">
      <p>Pose par des équipes qualifiées</p>
    </li>
    <li>
      <img src="../assets/images/icones/pictos-entreprise/suivi-chantier.png" width="50">
      <p>Suivi de votre chantier</p>
    </li>
    <li>
      <img src="../assets/images/icones/pictos-entreprise/reception-travaux.png" width="50">
      <p>Réception des travaux</p>
    </li>
  </ul>
  <br>
  <br>
</section>

<section class="actus">
  <img src="/assets/images/maison-actualites.jpeg" alt="" width="750">
  <div>
    <div>
      <h2>Nos actualités & conseils</h2>
      <ul class="posts">
        {% for post in site.posts | limit: 3 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }} <img src="/assets/images/icones/min-arrow.png"></a>
          </li>
        {% endfor %}
        <li><a href="/actualites/">Lire les autres actualités</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="presentation">
  <div class="text-left">
    <p>Depuis bientôt 20 ans Finay
accompagne les personnes dans la rénovation de leur maison.
Soucieux de la qualité et de la longévité de notre travail, nous recherchons constamment à améliorer notre savoir et à utiliser les meilleurs produits</p>
  </div>
  <img src="/assets/images/travaux-isolation-exterieur.jpeg" height="300" style="object-fit: cover;" alt="">
</section>

<section class="inside" id="certifications">
  <div class="certifications-home">
    <img src="/assets/images/icones/rge.png" alt="entreprise certifiée RGE Qualibat" class="">
    <img src="/assets/images/icones/sto.png" alt="entreprise certifiée STO" class="">
    <img src="/assets/images/icones/partenaire-economies-d-energie-edf.jpeg" alt="entreprise certifiée partenaire energie edf" class="">
    <img src="/assets/images/icones/pro-ite-sto.jpeg" alt="entreprise certifiée pro ite sto" class="">
  </div>
  <div class="certifications-texte">
    <h2>Nos certifications</h2>
    <p>
      Nos certifications, gage de notre savoir-faire vous permettent de bénéficier des aides de l’Etat pour vos travaux de rénovation et notamment dans l’amélioration du confort de votre habitat en effectuant des travaux d’isolation.
    </p>
  </div>
</section>

<section class="">
  <h2>Nos réalisations</h2>
  {% include realisations.html %}
</section>

</section>
<section class="inside">
  <h2>Nos clients témoignent</h2>
  {% include slider.html %}
</section>

<section class="inside" id="form-home">
  <h2>Nous contacter</h2>
  <div>
    <img src="/assets/images/dessin-maison.jpeg" alt="" width="750">
    {% include form.html %}
  </div>
</section>


