---
layout: page-chauffage
titre: Installer des panneaux solaires thermiques ou photovoltaïques
title: Installateur de panneaux solaires thermiques, photovoltaïques en Alsace Lorraine | Finay
description: Notre entreprise en ravalement de façade opère sur tout le territoire du Bas-Rhin et de la Moselle
permalink: /installation-panneau-solaire
robots: index,follow
---
<div id="chauffage">
    
    <p class="chauffage-intro">Installer des panneaux solaires sur son toit peut être un choix judicieux pour tout foyer souhaitant réduire ses coûts énergétiques et son impact environnemental. En faisant appel à un installateur de panneaux solaires thermiques ou photovoltaïques, il est possible de produire sa propre électricité mais également sa propre eau chaude selon la solution choisie et avoir des factures énergétiques réduites de 30 à 80%.</p>
    <section class="box-shadow">
        <h2 class="solaire-padding-top">Les différents types de panneau solaire</h2>
        <p class="solaire-padding">Selon les besoins de son logement, il existe plusieurs types de panneaux solaires pouvant répondre aux différentes attentes. Rapide tour d’horizon des différents types de panneaux solaires.</p>
        <ul class="list-inside">
        <li>Le panneau solaire photovoltaïque, solution exclusivement dédiée à la production d’électricité.</li>
        <li>Le panneau solaire thermique, qui permet produit exclusivement de l’eau chaude pour alimenter le réseau d’eau chaude sanitaire et/ou de chauffage.</li>
        <li>Les panneaux solaires hybrides, qui permettent de combiner les atouts du photovoltaïque et du thermique. Les panneaux solaires hybrides produisent de l’électricité sur leur face avant et récupèrent la chaleur sur leur face interne pour produire de l’eau chaude sanitaire.</li>
        <li>Les panneaux solaires aérovoltaïques sont également un type de panneau hybride, produisant de l’électricité et de la chaleur qui sera injectée à l’intérieur d’une habitation.</li>
        </ul>
        <h2>Pourquoi opter pour l’installation de panneaux solaires photovoltaïques ?</h2>
        <p class="solaire-padding">Les panneaux photovoltaïques sont uniquement consacrés à la production d’électricité, pour son autoconsommation, la revente partielle ou totale de son électricité aux fournisseurs d’électricité.</p>
<div class="chauffage-questions">
<h3>Questions fréquentes</h3>
<details class="box-shadow light">
    <summary><h4>Quelles sont les aides pour l’installation de panneaux photovoltaïques chez soi?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg></summary>
    <p>Les aides pour les panneaux photovoltaïques :<br>
        <ul>
<li>La prime à l’investissement</li>
<li>La TVA réduite à 10% pour les installations inférieures ou égales à 3kWc.</li>
<li>L’obligation d’achat en vendant tout ou partie de sa production électrique.
exonération d’impôt sur le revenu si l’installation remplit ces 3 conditions :<br>
- Sa puissance est inférieure à 3 kWc<br>
- Elle est raccordée au réseau public en deux points au plus<br>
- Elle n'est pas affectée à l'exercice d'une activité professionnelle<br>
- Si l’installation fait plus de 3 kWc les revenus tirés de la vente d'électricité sont imposables à l'impôt sur le revenu.<br>
</ul>

    </p>
</details>
<details class="box-shadow light">
    <summary><h4>Quelle production pour une installation de 3 kWc ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg></summary>
    <p>Pour une installation de 3 kWc, cela correspond à l'installation de 8 panneaux solaires, avec une production annuelle estimée entre 2 400 et 4 200 kWh/an. Cette production dépend évidemment de l’ensoleillement du toit, si la zone des panneaux est en partie ombragée, de l’inclinaison du toit où sont posés les panneaux ainsi que la température des panneaux et de leur propreté qui peuvent également avoir un impact sur leur rendement.</p>
</details>
</div>


<h2>Pourquoi installer des panneaux solaires hybrides ?</h2>
<p class="solaire-padding">Installer un système de panneaux hybrides offre la possibilité de produire à la fois de l’électricité et en même temps de l’eau chaude pour les usages sanitaires.</p>
<div class="chauffage-questions">
    <h3>Questions fréquentes</h3>
    <details class="box-shadow light">
        <summary><h4>Quelles sont les aides pour l’installation de panneaux photovoltaïques chez soi?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <p>Les aides pour les panneaux photovoltaïques :<br>
            <ul>
    <li>La prime à l’investissement</li>
    <li>La TVA réduite à 10% pour les installations inférieures ou égales à 3kWc.</li>
    <li>L’obligation d’achat en vendant tout ou partie de sa production électrique.
    exonération d’impôt sur le revenu si l’installation remplit ces 3 conditions :<br>
    - Sa puissance est inférieure à 3 kWc<br>
    - Elle est raccordée au réseau public en deux points au plus<br>
    - Elle n'est pas affectée à l'exercice d'une activité professionnelle<br>
    - Si l’installation fait plus de 3 kWc les revenus tirés de la vente d'électricité sont imposables à l'impôt sur le revenu.<br>
    </ul>
    
        </p>
    </details>
    <details class="box-shadow light">
        <summary><h4>Quelle production pour une installation de 3 kWc ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <p>Pour une installation de 3 kWc, cela correspond à l'installation de 8 panneaux solaires, avec une production annuelle estimée entre 2 400 et 4 200 kWh/an. Cette production dépend évidemment de l’ensoleillement du toit, si la zone des panneaux est en partie ombragée, de l’inclinaison du toit où sont posés les panneaux ainsi que la température des panneaux et de leur propreté qui peuvent également avoir un impact sur leur rendement.</p>
    </details>
    </div>

</section>

<section id="ballons" class="box-shadow">
    <h2 class="solaire-padding-top">Nos solutions</h2>
    <div class="chauffage-presentation bis">
        <img src="/assets/images/solaire/dualsun-spring-shingle.webp" alt="">
        <div>
        <h3>Panneaux solaires Dual Sun</h3>
        <p>DualSun est une entreprise française spécialisée dans la fabrication de panneaux solaires photovoltaïques via sa gamme DualSun Flash, mais propose également des panneaux hybrides permettant de produire à la fois de l’électricité et de l’eau chaude via ses produits DualSun Spring.
            Leurs panneaux font notamment partie des meilleures solutions présentes sur le marché et permettent de solliciter des aides tel que MaprimeRenov’.
            </p>
            <div class="second-cta">
                <a class="btn" href="#form">Contact & Devis</a>
            </div>
        </div>
    </div>

    <div class="chauffage-presentation bis">
        <img src="/assets/images/solaire/voltec-2.jpeg" alt="">
        <div>
        <h3>Panneaux solaires photovoltaïques Voltec</h3>
        <p>Fabricant de panneaux solaires situé en Alsace, l’entreprise Voltec fabrique des panneaux photovoltaïques à haute performance, permettant de convertir au mieux le rayonnement solaire en électricité.
            </p>
            <div class="second-cta">
                <a class="btn" href="#form">Contact & Devis</a>
            </div>
        </div>
    </div>

    <div class="chauffage-presentation bis">
        <img src="/assets/images/solaire/panneau-viessmann.webp" alt="">
        <div>
        <h3>Panneaux solaires Viessmann</h3>
        <p>Fabriquant ses solutions en Moselle, Viessmann propose des panneaux solaires thermiques, produisant de l’eau chaude sanitaire ainsi qu’une solution photovoltaïque.
            </p>
            <div class="second-cta">
                <a class="btn" href="#form">Contact & Devis</a>
            </div>
        </div>
    </div>
</section>


<section class="chauffage-questions box-shadow" id="aides-chauffage" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h2>Autres questions fréquentes</h2>
    
    <details class="box-shadow light">
        <summary><h3 itemprop="name">L’installation de panneaux solaires peut-elle améliorer la note de mon DPE ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            <table>
                <thead>
                    <tr>
                        <th rowspan="2" colspan="1">ÉQUIPEMENTS
                            ET MATÉRIAUX ÉLIGIBLES</th>
                        <th colspan="4">AIDE POUR LES MÉNAGES</th>
                    </tr>
                    <tr>
                        <td class="bleu">AUX
                            RESSOURCES
                            TRÈS
                            MODESTES</td>
                        <td class="jaune">AUX
                            RESSOURCES
                            MODESTES</td>
                        <td class="violet">AUX
                            RESSOURCES
                            INTERMÉDIAIRES</td>
                        <td class="rose">AUX
                            RESSOURCES
                            SUPÉRIEURES</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chaudière gaz à très haute
                            performance énergétique
                            pour les bâtiments non raccordés
                            à un réseau de chaleur vertueux
                            aidé par l’ADEME</td>
                        <td>1 200€</td>
                        <td>800€</td>
                        <td>non éligible</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Raccordement à un réseau de chaleur
                            et/ou de froid en Métropole
                            et Outre-mer</td>
                        <td>1 200€</td>
                        <td>800€</td>
                        <td>400€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Chauffe-eau thermodynamique</td>
                        <td>1 200€</td>
                        <td>800€</td>
                        <td>400€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Pompe à chaleur air/eau
                            (dont PAC hybrides)</td>
                        <td>4 000€</td>
                        <td>3 000€</td>
                        <td>2 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Pompe à chaleur géothermique
                            ou solarothermique
                            (dont PAC hybrides) </td>
                        <td>10 000€</td>
                        <td>8 000€</td>
                        <td>4 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Chauffe-eau solaire individuel
                            (et dispositifs solaires pour
                            le chauffage de l’eau)</td>
                        <td>4 000€</td>
                        <td>3 000€</td>
                        <td>2 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Système solaire combiné
                            (et dispositifs solaires pour
                            le chauffage des locaux)</td>
                        <td>10 000€</td>
                        <td>8 000€</td>
                        <td>4 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Partie thermique d’un équipement
                            PVT eau (système hybride
                            photovoltaïque et thermique)</td>
                        <td>2 500€</td>
                        <td>2 000€</td>
                        <td>1 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Poêle à bûches et cuisinière
                            à bûches </td>
                        <td>2 500€</td>
                        <td>2 000€</td>
                        <td>1 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Poêle à granulés et cuisinière
                            à granulés</td>
                        <td>2 500€</td>
                        <td>2 000€</td>
                        <td>1 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Chaudière bois à alimentation
                            manuelle (bûches)</td>
                        <td>8 000€</td>
                        <td>6 500€</td>
                        <td>3 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Chaudière bois à alimentation
                            automatique (granulés, plaquettes)</td>
                        <td>10 000€</td>
                        <td>8 000€</td>
                        <td>4 000€</td>
                        <td>non éligible</td>
                    </tr>
                    <tr>
                        <td>Foyer fermé et insert à bûches
                            ou à granulés</td>
                        <td>2 500€</td>
                        <td>1 500€</td>
                        <td>800€</td>
                        <td>non éligible</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Pourquoi opter pour l’autoconsommation plutôt que la revente ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Y-a-t-il des aides pour l’installation de panneaux solaires ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quel est le tarif de rachat de l’électricité produite par ses panneaux ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quels sont les types de panneau qui ont le droit au plus d’aides ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Peut-on installer des panneaux solaires dans une copropriété ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quelle est la puissance maximale d’une installation pour un particulier ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            </div>
        </div>
    </details>
    
    
    
    <!--
    <details class="box-shadow light">
        <summary><h3>Question 1</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <p>A venir</p>
    </details>
    -->
    
</section>

<section class="inside ">
<h2 class="left">Nos dernières installations</h2>
  <ul class="grid four">
    {% assign display_reals = site.data.gallerie | where: 'display', true %}
    {% assign filtered_reals = display_reals | where: 'solaire', true %}
    {% for real in filtered_reals | limit: 8 %}
      <li class="item-grid realisation" onclick="closebox()" style="background-image: linear-gradient(0deg, rgba(2,0,36,0.3197872899159664) 0%, rgba(255,255,255,0) 100%),url(../assets/images/realisations/{{real.img}});" data-image="{{real.img}}" data-ville="{{real.ville}}" data-cp="{{real.CP}}">
        <img src="../assets/images/realisations/{{real.img}}" alt="installation de panneaux solaire à {{real.ville}}" style="display: none;">
        <p><img src="../assets/images/icones/map-marker.png" width="10">{{real.ville}}, {{real.CP}}</p>
      </li>
    {% endfor %}
  </ul>
</section>


    

    <section class="chauffage-questions finay">
        <div>
        <h2>Finay votre installateur de panneau solaire en Alsace - Lorraine</h2>
        <p>Finay, entreprise experte dans les travaux de rénovation énergétique possède les qualifications nécessaires pour <strong>installer les modes de chauffage</strong> de votre choix et ainsi contribuer à améliorer les performances énergétiques de votre chauffage, de votre facture et de votre habitation.<br>Nos différentes certifications : <strong>RGE, Quali Pac et Quali Bois</strong> vous assure de pouvoir bénéfier des différentes aides gouvernementales et locales pour vos futurs travaux.<br>
        
        La double expertise de notre entreprise en isolation extérieure et en chauffage vous permet de débloquer des aides supplémentaires et d'améliorer sensiblement le DPE de votre logement, tout en réduisant encore vos dépenses en énergie.</p>
        </div>
    </section>
</div>
{% include zones.html %}
<h2 class="left">Nous contacter pour un devis ou une question sur votre projet</h2>
{% include form.html %}
