---
layout: page-chauffage
titre: Installer des panneaux solaires thermiques ou photovoltaïques
title: Installateur de panneaux solaires thermiques, photovoltaïques en Alsace Lorraine | Finay
description: Notre entreprise en ravalement de façade opère sur tout le territoire du Bas-Rhin et de la Moselle
permalink: /installation-panneau-solaire
robots: noindex,nofollow
---
<div id="chauffage">
    
    <p class="chauffage-intro">Installer des panneaux solaires sur son toit peut être un choix judicieux pour tout foyer souhaitant réduire ses coûts énergétiques et son impact environnemental. En faisant appel à un <strong>installateur de panneaux solaires thermiques ou photovoltaïques</strong>, il est possible de produire sa propre électricité mais également sa propre eau chaude selon la solution choisie et avoir des factures énergétiques réduites de 30 à 80%.</p>
    <section class="box-shadow">
        <h2 class="solaire-padding-top">Les différents types de panneau solaire</h2>
        <p class="solaire-padding">Selon les besoins de son logement, il existe plusieurs types de panneaux solaires pouvant répondre aux différentes attentes. Rapide tour d’horizon des différents types de panneaux solaires.</p>
        <ul class="list-inside">
        <li>Le panneau solaire photovoltaïque, solution exclusivement dédiée à la production d’électricité.</li>
        <li>Le panneau solaire thermique, qui permet produit exclusivement de l’eau chaude pour alimenter le réseau d’eau chaude sanitaire et/ou de chauffage.</li>
        <li>Les panneaux solaires hybrides, qui permettent de combiner les atouts du photovoltaïque et du thermique. Les panneaux solaires hybrides produisent de l’électricité sur leur face avant et récupèrent la chaleur sur leur face interne pour produire de l’eau chaude sanitaire.</li>
        <li>Les panneaux solaires aérovoltaïques sont également un type de panneau hybride, produisant de l’électricité et de la chaleur qui sera injectée à l’intérieur d’une habitation.</li>
        </ul>
        <h2>Pourquoi opter pour l’installation de panneaux solaires photovoltaïques ?</h2>
        <div class="flex-inline-solaire">
            <img src="/assets/images/solaire/schema-photo.png" width="300">
            <div class="solaire-padding">
                <p class="">Les panneaux photovoltaïques sont <b>uniquement consacrés à la production d’électricité</b>, pour son autoconsommation, à la revente partielle ou bien pour la revendre en totalité aux fournisseurs d’électricité.<br>L’installation de panneaux photovoltaïques est la solution la moins coûteuse et contribue à vous rendre énergétiquement de plus en plus autonome.</p>
                <div class="second-cta">
                    <a class="btn" href="#form">Contact & Devis</a>
                </div>
            </div>
        </div>
<div class="chauffage-questions">
<h3>Questions fréquentes</h3>
<details class="box-shadow light">
    <summary><h4>Quelles sont les aides pour l’installation de panneaux photovoltaïques chez soi?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg></summary>
    <p>Les aides pour les panneaux photovoltaïques :<br>
        <ul>
<li>La prime à l’investissement</li>
<li>La TVA réduite à 10% pour les installations inférieures ou égales à 3kWc.</li>
<li>L’obligation d’achat en vendant tout ou partie de sa production électrique.
exonération d’impôt sur le revenu si l’installation remplit ces 3 conditions :<br>
- Sa puissance est inférieure à 3 kWc<br>
- Elle est raccordée au réseau public en deux points au plus<br>
- Elle n'est pas affectée à l'exercice d'une activité professionnelle<br>
- Si l’installation fait plus de 3 kWc les revenus tirés de la vente d'électricité sont imposables à l'impôt sur le revenu.<br>
</ul>

    </p>
</details>
<details class="box-shadow light">
    <summary><h4>Quelle production pour une installation de 3 kWc ?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
        <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg></summary>
    <p>Pour une installation de 3 kWc, cela correspond à l'installation de 8 panneaux solaires, avec une production annuelle estimée entre 2 400 et 4 200 kWh/an. Cette production dépend évidemment de l’ensoleillement du toit, si la zone des panneaux est en partie ombragée, de l’inclinaison du toit où sont posés les panneaux ainsi que la température des panneaux et de leur propreté qui peuvent également avoir un impact sur leur rendement.</p>
</details>
</div>


<h2>Pourquoi installer des panneaux solaires hybrides ?</h2>
<div class="flex-inline-solaire">
    <img src="/assets/images/solaire/schema-thermique.png" width="300">
    <div class="solaire-padding">
        <p class="">Installer un système de panneaux hybrides offre la possibilité de <b>produire à la fois de l’électricité et en même temps de l’eau chaude pour les usages sanitaires</b>.<br> Ce type de panneau, également appelés panneaux solaires mixtes, est un système qui combine à la fois des capteurs photovoltaïques pour produire de l'électricité et des capteurs thermiques, venant récupérer la chaleur et la transporter vers le ballon d'eau chaude via un fluide caloporteur.</p>
        <div class="second-cta">
            <a class="btn" href="#form">Contact & Devis</a>
        </div>
    </div>
</div>
<div class="chauffage-questions">
    <h3>Questions fréquentes</h3>
    <details class="box-shadow light">
        <summary><h4>Y-a-t-il des aides pour l’installation de panneaux hybrides chez soi?</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <p>Les aides pour les panneaux hybrides ou mixtes :<br>
            <ul>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </p>
    </details>
    <details class="box-shadow light">
        <summary><h4>...</h4><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <p>Pour une installation de 3 kWc, cela correspond à l'installation de 8 panneaux solaires, avec une production annuelle estimée entre 2 400 et 4 200 kWh/an. Cette production dépend évidemment de l’ensoleillement du toit, si la zone des panneaux est en partie ombragée, de l’inclinaison du toit où sont posés les panneaux ainsi que la température des panneaux et de leur propreté qui peuvent également avoir un impact sur leur rendement.</p>
    </details>
    </div>

</section>

<section id="ballons" class="box-shadow">
    <h2 class="solaire-padding-top">Nos solutions</h2>
    <div class="chauffage-presentation bis">
        <div class="panneau-img">
            <img src="/assets/images/solaire/dualsun-spring-shingle.webp" alt="">
        </div>
        <div>
        <h3>Panneaux solaires Dual Sun</h3>
        <p>DualSun est une entreprise française spécialisée dans la fabrication de panneaux solaires photovoltaïques via sa gamme DualSun Flash, mais propose également des panneaux hybrides permettant de produire à la fois de l’électricité et de l’eau chaude via ses produits DualSun Spring.
            Leurs panneaux font notamment partie des meilleures solutions présentes sur le marché et permettent de solliciter des aides tel que MaprimeRenov’.
            </p>
            <!--
            <div class="second-cta">
                <a class="btn" href="#form">Contact & Devis</a>
            </div>
            -->
        </div>
    </div>

    <div class="chauffage-presentation bis">
        <div class="panneau-img">
            <img src="/assets/images/solaire/voltec-2.jpeg" alt="">
        </div>
        <div>
        <h3>Panneaux solaires photovoltaïques Voltec</h3>
        <p>Fabricant de panneaux solaires situé en Alsace, l’entreprise Voltec fabrique des panneaux photovoltaïques à haute performance, permettant de convertir au mieux le rayonnement solaire en électricité.
            </p>
            <!--
            <div class="second-cta">
                <a class="btn" href="#form">Contact & Devis</a>
            </div>
            -->
        </div>
    </div>

    <div class="chauffage-presentation bis">
        <div class="panneau-img">
            <img src="/assets/images/solaire/panneau-viessmann.webp" alt="">
        </div>
        <div>
        <h3>Panneaux solaires Viessmann</h3>
        <p>Fabriquant ses solutions en Moselle, Viessmann propose des panneaux solaires thermiques, produisant de l’eau chaude sanitaire ainsi qu’une solution photovoltaïque.
            </p>
            <!--
            <div class="second-cta">
                <a class="btn" href="#form">Contact & Devis</a>
            </div>
            -->
        </div>
    </div>
</section>


<section class="chauffage-questions box-shadow" id="aides-chauffage" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h2>Autres questions fréquentes</h2>
    
    <details class="box-shadow light">
        <summary><h3 itemprop="name">L’installation de panneaux solaires peut-elle améliorer la note de mon DPE ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            <p>Oui, le Diagnostic de Performance Energétique étant calculé sur la consommation d’un logement au m2, l’installation de panneaux solaires permet de produire et consommer son électricité, réduisant de ce fait l’impact énergétique de son logement sur le reste du réseau électrique.</p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Pourquoi opter pour l’autoconsommation plutôt que la revente ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>Revendre son éléctricité à EDF n’est en soit pas très avantageux. Ce dernier facture par exemple 0,21€/kWh* aux consommateurs et le rachète 0,13€* seulement pour le surplus produit non autoconsommé.(*tarifs réévalués tous les trimestres). L’objectif pour un propriétaire de panneaux solaires est donc d'autoconsommer au maximum l’énergie qu’il produit. Selon l’Ademe, l’autoconsommation permettrait de réduire sa consommation d’électricité de 30%, voir jusqu’à 80% en installant un système de domotique afin de lancer de manière intelligente son lave-vaisselle, machine à laver et autres appareils lorsque les panneaux solaires produisent de l’électricité pour baisser voir rendre nulle la consommation énergétique de ces appareils.</p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Y-a-t-il des aides pour l’installation de panneaux solaires ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>
                    <ul>
                    <li>La prime à l’autoconsommation : également appelée prime à l’investissement ou prime à l’autoconsommation, elle est maintenant versée en intégralité à la date d’échéance de votre première facture de revente d’électricité et son montant dépend de la puissance de son installation.
Au 1er trimestre 2023, voici les montants de la prime qui étaient accordés :

500 €/kWc pour les installations inférieures ou égales à 3 kWc ;
370 €/kWc pour les installations entre 3 et 9 kWc ;
210 €/kWc pour les installations entre 9 et 36 kWc ;
110 € pour les installations entre 36 et 100 kWc.
</li>
<li>L’obligation d’achat</li>
<li>La TVA à taux réduit :  La loi relative à la transition énergétique encourage les travaux d’installation de type photovoltaïque. Pour ce faire, un taux de TVA réduit à 10% est prévue pour les installations photovoltaïques sous conditions. Pour l’installation de panneaux thermiques, la TVA est de 5,5%.</li>
<li>L’éco-prêt à taux 0 : En installation des panneaux produisant de la chaleur, il est possible d’obtenir un prêt à taux zéro allant de 7000€ à 30 000€ sous certaines conditions.</li>
<li>Ma Prime Rénov’ : L’installation de panneaux solaires thermiques ou hybrides ouvre droit à MaPrimeRénov’. Le montant des aides cette subvention dépend des ressources du ménage qui en fait la demande.</li>
<li>Ma Prime Rénov’ sérénité : Pour les ménages modestes et très modestes, effectuer des travaux ambitieux permettant d’obtenir un gain énergétique de minimum 35% permet d’obtenir d’utiliser MaPrimeRénov’ Sérénité. L’installation de panneaux solaires permet de réduire cette précarité énergétique et permet donc de bénéficier de cette aide.</li>
<li>La prime énergie : Selon les revenus du ménage et du type de panneaux installés, il est possible de toucher entre 2500 et 4000€ pour l’installation d’un système combiné.</li>
<li>Les aides locales : Selon le lieu où on habite, les collectivités ont pu mettre en place des subventions supplémentaires pour encourager l’installation de panneaux solaires. C’est notamment le cas de la région Grand Est qui soutient à la fois des installations photovoltaïques et thermiques.</li>
</ul>
                </p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quel est le tarif de rachat de l’électricité produite par ses panneaux ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>Que ce soit en revente totale ou partielle, il est possible de bénéficier de l'<a href="https://mypower.engie.fr/conseils/aides-panneaux-solaires/oa-solaire.html">EDF OA</a>. Le prix est fixé par les pouvoirs publics et est garanti pour une durée de 20 ans. Son prix varie chaque trimestre, selon la puissance crête de son installation et de son mode de revente.</p>
            </div>
        </div>
    </details>
    
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Que signifie la puissance crête d'une installation solaire ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>La puissance « crête » d'une installation photovoltaïque, aussi appelée puissance « nominale », désigne la puissance maximale que celle-ci peut délivrer au réseau électrique. On parle ainsi de watts « crête » (Wc ou Wp en anglais pour « watt peak ») et pour ses multiples les plus courants des kilowatts crête (kWc = 103 Wc) et des mégawatts crête (MWc = 106 Wc).<br>
                Dans des conditions optimales d'ensoleillement, 1 kilowatt-crête correspond à une production théorique de 1000 kilowattheurese par an.
                </p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quels sont les types de panneau qui ont le droit au plus d’aides ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>...</p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quelle est la durée de vie d'un panneau solaire ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>La durée de vie d'un panneau solaire est atteint aujourd'hui une moyenne de 30 ans.<br>Cette durée de vie oscille entre 20 et 50 ans pour les plus robustes.
                <br> Au bout de 20 ans, un panneau solaire peut encore 80% de leur capacité.
                <br>
                source : <a href="https://www.edfenr.com/guide-solaire/duree-de-vie-panneaux-solaires/#:~:text=La%20dur%C3%A9e%20de%20vie%20moyenne%20d'un%20panneau%20solaire%20est,ans%20pour%20les%20plus%20solides.">edfenr.com : durée de vie des panneaux solaires</a>
                </p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Peut-on installer des panneaux solaires dans une copropriété ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>...</p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quelles sont les certifications que doit posséder un installateur pour bénéficier des aides ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>Pour bénéficier des différentes aides publiques pour son installation dont la prime à l'autoconsommation, il est nécessaire de faire appel à une entreprise qualifiée RGE pour la pose de ses panneaux solaires.<br>
                    Pour qu'un artisan ou une entreprise soit qualifiée d'RGE dans ce domaine, il doit avoir une des qualifications RGE Photovoltaïques suivantes : 
                    <ul>
                        <li>La qualification QualiPV.<br>
                            <img src="/assets/images/icones/rge-qualipv-2022.png" width="100">
                        </li>
                        <li>La certification Qualibat avec les modules suivants : 5911, 5912 (ou module 8621 + au choix 8111, 8112, 8113, 8121, 8122, 8123, 8133)</li>
                        <li>La certification QualiElec module 43 (ou module 40 avec la mention photovoltaïque)</li>
                    </ul>
                </p>
            </div>
        </div>
    </details>
    <details class="box-shadow light">
        <summary><h3 itemprop="name">Quelle est la puissance maximale d’une installation pour un particulier ?</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            </div>
        </div>
    </details>
    
    
    
    <!--
    <details class="box-shadow light">
        <summary><h3>Question 1</h3><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: block;">
            <path d="M19.0001 9L12.0001 16L5.00012 9" stroke="#153E5C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></summary>
        <p>A venir</p>
    </details>
    -->
    
</section>

<section class="inside ">
<h2 class="left">Nos dernières installations</h2>
  <ul class="grid four">
    {% assign display_reals = site.data.gallerie | where: 'display', true %}
    {% assign filtered_reals = display_reals | where: 'solaire', true %}
    {% for real in filtered_reals | limit: 8 %}
      <li class="item-grid realisation" onclick="closebox()" style="background-image: linear-gradient(0deg, rgba(2,0,36,0.3197872899159664) 0%, rgba(255,255,255,0) 100%),url(../assets/images/realisations/{{real.img}});" data-image="{{real.img}}" data-ville="{{real.ville}}" data-cp="{{real.CP}}">
        <img src="../assets/images/realisations/{{real.img}}" alt="installation de panneaux solaire à {{real.ville}}" style="display: none;">
        <p><img src="../assets/images/icones/map-marker.png" width="10">{{real.ville}}, {{real.CP}}</p>
      </li>
    {% endfor %}
  </ul>
</section>


    

    <section class="chauffage-questions finay">
        <div>
        <h2>Finay votre installateur de panneau solaire en Alsace - Lorraine</h2>
        <p>Finay, entreprise experte dans les travaux de rénovation énergétique possède les qualifications nécessaires pour <strong>installer les modes de chauffage</strong> de votre choix et ainsi contribuer à améliorer les performances énergétiques de votre chauffage, de votre facture et de votre habitation.<br>Nos différentes certifications : <strong>RGE, Quali Pac et Quali Bois</strong> vous assure de pouvoir bénéfier des différentes aides gouvernementales et locales pour vos futurs travaux.<br>
        
        La double expertise de notre entreprise en isolation extérieure et en chauffage vous permet de débloquer des aides supplémentaires et d'améliorer sensiblement le DPE de votre logement, tout en réduisant encore vos dépenses en énergie.</p>
        </div>
    </section>
</div>
{% include zones.html %}
<h2 class="left">Nous contacter pour un devis ou une question sur votre projet</h2>
{% include form.html %}
