<section class="overflow">
<table cellspacing="0">
    <thead>
        <tr>
          <th colspan="5">Barème de couleurs MaPrimeRénov' en France (hors Ile-de-France)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre de
personnes composant
le ménage (foyer fiscal)</td>
            <td class="bleu">Revenus annuels pour être éligible à MaPrimeRénov' Bleu</td>
            <td class="jaune">Revenus annuels pour être éligible à MaPrimeRénov' Jaune</td>
            <td class="violet">Revenus annuels pour être éligible à MaPrimeRénov' Violet</td>
            <td class="rose">Revenus annuels pour être éligible à MaPrimeRénov' Rose</td>
        </tr>
        <tr>
          <td>1</td>
          <td class="bleu">jusqu'à 16 229 €</td>
          <td class="jaune">jusqu'à 20 805 €</td>
          <td class="violet">jusqu'à 29 148 €</td>
          <td class="rose">> 29 148 €</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="bleu">jusqu'à 23 734 €</td>
          <td class="jaune">jusqu'à 30 427 €</td>
          <td class="violet">jusqu'à 42 848 €</td>
          <td class="rose">> 42 848 €</td>
        </tr>
        <tr>
          <td>3</td>
          <td class="bleu">jusqu'à 28 545 €</td>
          <td class="jaune">jusqu'à 36 591 €</td>
          <td class="violet">jusqu'à 51 592 €</td>
          <td class="rose">> 51 592 €</td>
        </tr>
        <tr>
          <td>4</td>
          <td class="bleu">jusqu'à 33 346 €</td>
          <td class="jaune">jusqu'à 42 748 €</td>
          <td class="violet">jusqu'à 60 336 €</td>
          <td class="rose">> 60 336 €</td>
        </tr>
        <tr>
          <td>5</td>
          <td class="bleu">jusqu'à 38 168 €</td>
          <td class="jaune">jusqu'à 48 930 €</td>
          <td class="violet">jusqu'à 69 081 €</td>
          <td class="rose">  > 69 081 €</td>
        </tr>
        <tr>
          <td>Par personne supplémentaire</td>
          <td class="bleu">+ 4 813 €</td>
          <td class="jaune">+ 6 165 €</td>
          <td class="violet">+ 8 744 €</td>
          <td class="rose">+ 8 744 €</td>
        </tr>
    </tbody>
</table>
</section>