<section class="overflow">
<table cellspacing="0">
    <thead>
        <tr>
          <th colspan="5">Barème de couleurs MaPrimeRénov' en France (hors Ile-de-France) 2024</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre de
personnes composant
le ménage (foyer fiscal)</td>
            <td class="bleu">Revenus annuels pour être éligible à MaPrimeRénov' Bleu</td>
            <td class="jaune">Revenus annuels pour être éligible à MaPrimeRénov' Jaune</td>
            <td class="violet">Revenus annuels pour être éligible à MaPrimeRénov' Violet</td>
            <td class="rose">Revenus annuels pour être éligible à MaPrimeRénov' Rose</td>
        </tr>
        <tr>
          <td>1</td>
          <td class="bleu">jusqu'à 17 009 €</td>
          <td class="jaune">jusqu'à 21 805 €</td>
          <td class="violet">jusqu'à 30 549 €</td>
          <td class="rose">> 30 549 €</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="bleu">jusqu'à 24 875 €</td>
          <td class="jaune">jusqu'à 31 889 €</td>
          <td class="violet">jusqu'à 44 907 €</td>
          <td class="rose">> 44 907 €</td>
        </tr>
        <tr>
          <td>3</td>
          <td class="bleu">jusqu'à 29 917 €</td>
          <td class="jaune">jusqu'à 38 349 €</td>
          <td class="violet">jusqu'à 54 071 €</td>
          <td class="rose">> 54 071 €</td>
        </tr>
        <tr>
          <td>4</td>
          <td class="bleu">jusqu'à 34 948 €</td>
          <td class="jaune">jusqu'à 44 802 €</td>
          <td class="violet">jusqu'à 63 235 €</td>
          <td class="rose">> 63 235 €</td>
        </tr>
        <tr>
          <td>5</td>
          <td class="bleu">jusqu'à 40 002 €</td>
          <td class="jaune">jusqu'à 51 281 €</td>
          <td class="violet">jusqu'à 72 400 €</td>
          <td class="rose">  > 72 400 €</td>
        </tr>
        <tr>
          <td>Par personne supplémentaire</td>
          <td class="bleu">+ 5 045 €</td>
          <td class="jaune">+ 6 462 €</td>
          <td class="violet">+ 9 165 €</td>
          <td class="rose">+ 9 165 €</td>
        </tr>
    </tbody>
</table>
</section>