<aside id="contact-options">
  <div class="boutons">
    <a href="/simulateur-aide/" class="bouton-action simuler">
      <img src="/assets/images/icones/contact/calculatrice.png" alt="" width="50">
      <p>Simuler</p>
    </a>
    <a href="tel:+33388909763" class="bouton-action tel tel-gtm">
      <img src="/assets/images/icones/contact/call.png" alt="" width="50">
      <p>Appeler</p>
    </a>
    <a href="/contact/" class="bouton-action email">
      <img src="/assets/images/icones/contact/email.png" alt="" width="50">
      <p>Contacter</p>
    </a>
  </div>
</aside>
