<footer class="">
  <div class="inside">
    <img src="/assets/images/icones/finay-logo.png" alt="" class="logo-footer">
  </div>
  <div class="inside coordonnees">
    <div>
      <address>
        5 place des thermes<br>
        67110 Niederbronn-les-Bains
        <br><br>
        contact@finay.fr<br>
        +33 (0)3 88 90 97 63
      </address>
      </p>
    </div>
    <div>
      logos
    </div>
  </div>
  <div class="inside mentions">
    <a href="">Politique de confidentialité</a>
    <a href="">Gestion des cookies</a>
    <a href="">Mentions légales</a>
    <a href="">Plan du site</a>
    <a href="">Ozymedia</a>
  </div>
</footer>
