<form class="form" name="contact" method="POST" data-netlify="true">
  <div class="long">
    <p><label><input type="text" name="lastname" required="true" placeholder="Nom*" /></label></p>
    <p><label><input type="text" name="firstname" required="true" placeholder="Prénom*" /></label></p>
  </div>
  <div class="long">
    <p><label><input type="email" name="email" placeholder="Email*" /></label></p>
    <p><label><input type="tel" name="tel" placeholder="Tel*"></label></p>
  </div>
  <div>
    <p><label><input type="text" name="adresse" placeholder="Adresse*"></label></p>
  </div>
  <div class="long">
    <p><label for=""><input type="text" placeholder="Code Postal*"></label></p>
    <p><label for=""><input type="text" placeholder="Ville*"></label></p>
  </div>
  <div>
    <p>
      <label for=""><input type="text" placeholder="Objet*"></label>
    </p>
  </div>
  <div>
    <p>
      <label for=""><textarea type="text" placeholder="Message" rows="3"></textarea></label>
    </p>
  </div>
  <div id="button">
    <button type="submit" class="btn">Envoyer</button>
  </div>
</form>
