<div id="nav">
  <nav class="large">
    <ul>
      <img src="/assets/images/icones/finay-logo.png" width="" class="logo" alt="logo Finay entreprise d'isolation extérieure">
    {% for item in site.data.navigation %}
      <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
    </ul>
    <a id="btn-nav" class="" href="#"><img src="/assets/images/burger-bar.png" alt="" width="30"></a>
  </nav>
</div>
<aside id="side-menu" class="">
  <ul>
    <li><img src="/assets/images/icones/finay-logo.png" width="" class="logo" alt="logo Finay entreprise d'isolation extérieure"></li>
  {% for item in site.data.navigation %}
    <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
  {% endfor %}
  </ul>
</aside>
