<div class="reviews-summary" itemscope itemtype="https://schema.org/AggregateRating" itemprop="aggregateRating">
	<div>
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
	</div>
	<p><span itemprop="ratingValue">4.8</span>/5<span class="light-barre"> | </span><span itemprop="reviewCount">44</span> avis</p>
</div>