<div class="reviews-summary">
	<div>
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
		<img src="../assets/images/icones/star-yellow.jpg" width="20" alt="star">
	</div>
	<p><span>4.9</span>/5<span class="light-barre"> | </span><span><a href="/avis-client">66</a></span> avis</p>
</div>