.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  //background: rgba(31, 90, 138, 0.55);
  //background-image: url(../assets/images/banner.png);
  .slogan {
    color: white;
    font-size: 2em;
    letter-spacing: 15%;
    line-height: 50px;
  }
}
