#chauffage {
    details {
        //border: solid 1px;
        cursor: pointer;
        summary {
            h4 {
                margin: 0;
                padding: 0;
                display: inline;
            }
        }
    }
    details > summary {
        list-style-type: '';
    }
    
    details[open] > summary {
        list-style-type: '';
    }
}
.nav-chauffage {
    display: flex;
    ul {
        display: flex !important;
        list-style: none !important;
        a { text-decoration: none;
            border: solid 1px;
            border-radius: 20px;
            margin-right: 10px;
            li {

            }
        }
    }
}
.chauffage-presentation {
    h2 {margin: 0 !important; float: left;}
    p { margin: 0 !important;}
}
.chauffage-item {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 3px;
    .chauffage-titre {
        margin:0;
        margin-top: 0.5em;
    }
}
.chauffage-photo {
    padding: 1em;
    width: 40%;
    img {
        width: 100%;
        object-fit: fill;
    }
}
.chauffage-text {
    padding: 1em;
    width: 60%;
    details {
        //border: solid 1px $yellow;
        border-radius: 3px;
        padding: 0.5em;
        margin-bottom: 8px;
        font-family: "Avenir";
        font-weight: 200;
        &:hover {
            border: solid 1px $yellow;
        }
    }
    details[open] {
        border: solid 1px $yellow;
    }
}
.chauffage-questions {
    padding: 1em;
    details { 
        padding: 1em;
        margin-bottom: 10px;
        font-family: "Avenir";
    }
}
.box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 1em;
    &.light {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}