footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: $blue;
  color: white;
  //padding-bottom: 135px;
  //padding-top: 135px;
  max-width: 100%;
  width: 100%;
  font-family: 'ABeeZee', sans-serif;
}
