footer {
  padding-top: 3em;
  padding-bottom: 3em;
  color: black;
  font-size: 0.8em;
  //padding-bottom: 135px;
  //padding-top: 135px;
  max-width: 100%;
  width: 100%;
  font-family: 'ABeeZee', sans-serif;
  a { text-decoration: none; color: black; }
  .logo-footer {
    width: 140px;
    margin-bottom: 0.5em;
  }
  .coordonnees {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .certifications {
    display: flex;
    flex-wrap: wrap;
    img {
      max-height: 70px;
      width: auto;
      max-width: 100%;
      margin-right: 1em;
      margin: 0;
    }
  }
  .mentions {
    margin-top: 3em;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    a { color: black; text-decoration: none; }
  }
}
