#form {
  font-family: 'ABeeZee', sans-serif;
  padding: 35px;
  background-color: $blue;
  border-radius: 5px;
  box-shadow: 7px 5px 10px 0px #00000040;
  div { width: 100%; }
  .long {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p { max-width: 45%; }
    p:first-of-type {
      margin-right: 1em;
    }
  }
  p { min-width: 50px; width: 100%; margin-top: 0; margin-bottom: 1;
    label { font-family: 'ABeeZee', sans-serif; width: 100%; }
    input {
      width: 100%;
      border: none;
      background-color: transparent;
      color: white;
      border-bottom: solid 0.5px white;
      font-family: 'ABeeZee';
      line-height: 4ch;
    }
    textarea {
      width: 100%;
      border: none;
      background-color: transparent;
      color: white;
      font-family: 'ABeeZee';
      line-height: 4ch;
      background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #E7EFF8 0px);
      background-size: 100% 4ch;
    }
  }
  .checkbox {
    color: white;
    font-size: 0.8em;
    margin-bottom: 2em;
  }
  #button {
    display: flex;
    justify-content: flex-end;
  }
  input::placeholder, textarea::placeholder {
    color: white;
    opacity: 70%;
    font-family: 'ABeeZee';
  }
  input:focus, textarea:focus {
    outline: none;
  }
  //  color: white;
    //border: transparent;
  //  background-color: $blue;
    //border: none !important;
    //border-color: transparent;
}
#simulateur-prime-renov {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  border: solid 1px;
  div {
    display: flex;
    flex-wrap: wrap;
    p { width: 100%; margin-bottom: 0;}
    label {
    display: inline-block;
    justify-content: space-between;
      font-family: 'ABeeZee';
    }
  }
}
