#presentation {
  display: flex;
  width: 100%;
  .text-left {
    background-color: $yellow;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2em;
    p {
      font-family: 'ABeeZee', sans-serif;
      font-size: 1.3em;
      text-align: left;
      max-width: 400px;
    }
  }
  img {
    width: 50%;
  }
}
#certifications {
  display: flex;
  div {
    width: 50%;
  }
  h2, p { text-align: left; font-family: 'ABeeZee', sans-serif; }
  p { font-size: 1.2em; }
  .certifications-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    img { padding: 1em; max-width: 100%; }
  }
  .certifications-texte {
    padding-left: 4em;
  }
}
#form-home {
  div {
    position: relative;
    img { width: 70%; }
    #form {
      padding: 25px;
      position: absolute;
      width: 50%;
      right: 0px;
      bottom: -40px;
      p { margin-bottom: 5px; }
    }
  }
}
