#presentation {
  display: flex;
  width: 100%;
  .text-left {
    background-color: $yellow;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2em;
    p {
      font-family: 'ABeeZee', sans-serif;
      font-size: 1.3em;
      text-align: left;
      max-width: 400px;
    }
  }
  img {
    width: 50%;
  }
}
#form-home {
  div {
    position: relative;
    img { width: 70%;}
    #form {
      padding: 25px;
      position: absolute;
      width: 60%;
      right: -100px;
      bottom: 0px;
      p { margin-bottom: 5px; }
    }
  }
}
