* {}
html {
}
body {
  margin: 0px;
  padding: 0px;
}
main {
  width: 100%;
  //max-width: 1140px;
  margin: auto;
  min-height: 100vh;
}
nav { margin: auto; }
article {
}
.inside { max-width: 1024px; margin: auto; }
h1 { color: red; }
h2 {}
h3 {}
.current {
  color: green;
}
li, p {
  font-family: 'ABeeZee', sans-serif;
}
