* {}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
main {
  width: 100%;
  //max-width: 1140px;
  margin: auto;
  min-height: 100vh;
}
nav { margin: auto; }
article {
}
.large { max-width: 1140px; margin: auto; width: 1140px;}
.inside { max-width: 1024px; margin: auto; width: 1024px; }
h1 { color: red; }
h2 {}
h3 {}
.current {
  color: green;
}
li, p {
  font-family: 'ABeeZee', sans-serif;
}
