.actus {
  display: flex;
  img { width: 50%; object-fit: cover; }
  div:first-of-type {
    width: 50%;
    background-color: $blue;
    color: white;
    padding-left: 1em;
    div {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      h2 {
        text-align: left;
        margin: 0;
        margin-top: 1.2em;
        margin-bottom: 1.2em;
      }
      .posts {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        a {
            color: white;
            font-family: "Avenir";
            text-decoration: none;
            opacity: 0.8;
            //line-height: 1.2em;
          }
        li {
          padding: 0;
          line-height: 40px;
          margin-bottom: 0.8em;
          a {
            display: flex;
            align-items: center;
          }
          img {
            width: 30px;
            margin-left: 1em;
            opacity: 0.7;
          }
          a:hover {
            opacity: 1;
            color: white;
            img {
              opacity: 1;
              margin-left: 1.6em;
              transition-property: margin-left;
              transition-duration: 0.4s;
            }
          }
        }
      }
    }
  }
}
.sommaire-blog {
  border: solid 1px;
  border-radius: 5px;
  padding: 1em;
  background: linear-gradient(90deg, #6DC0A1 0%, #7BCBDB 100%);
  color: white;
  .sommaire-titre {
    text-decoration: underline;
    font-size: 1em;
  }
  p { padding: 0; margin: 0;}
  ul {
    li {
      margin: 0;
      padding: 0;
      a { 
        color: white;
        font-size: 0.9em;
        &:hover { text-decoration: underline;}
      }
    }
  }
}

#posts-page {
  display: flex;
  all: initial;
  * {
    all: unset;
  }
  display: flex;
  h2, h3 {
    font-family: 'ABeeZee', sans-serif;
  }
}
#posts-index {
  //border: solid 1px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom:0;
  padding-bottom: 0;
  a {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    padding: 5px;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    line-height: 3em;
    border-radius: 3px;
    border-bottom: solid 2px $yellow;
    li {
      //margin-bottom: 1em;
      h2 {
        text-align: left;
        font-size: 1.2em;
      }
      //border-bottom: solid 2px $yellow;
      //border-style: none none double;
    }
  }
}
#posts-recent {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  h2 {
     font-size: 1.5em;
     margin-bottom: 0.5em;
  }
  a {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    //padding: 5px;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    //line-height: 3em;
    //border-radius: 3px;
    //border-bottom: solid 2px $yellow;
  }
}
.banner.post {
  height:50vh;
  h1 {
    max-width: 920px;
    margin: auto;
  }
}
.post-template {
  .inside {
    max-width: 920px;
    margin-top: 3em;
    margin-bottom: 2em;
    p, li {
      line-height: 1.8em;
      font-family: 'Avenir', sans-serif;
    }
    h4, h5, h6 {
      font-family: 'Avenir', sans-serif;
      margin-bottom: 0;
    }
    ul::marker {
      color: transparent;
    }
  }
  h2 { text-align: left; }
  ul {
    display: list-item !important;
    list-style: disc;
    list-style-position: unset;
    padding-left: 1em;
  }
}
@media all and (max-width: 480px) {
  .actus {
    flex-direction: column;
    div:first-of-type, img { width: 100%; }
    div:first-of-type { padding-bottom: 1em; }
    li { line-height: 25px !important; }
  }
  #posts-page {
    flex-direction: column;
  }
  #posts-recent {
    margin-left: 0px;
    width: 100%;
    h2 { text-align: center; margin-top: 1em; margin-bottom: 1em; flex-wrap: wrap; }
    a {line-height: 3em;}
  }
}
@media only screen and (max-width: 40em) {
  .actus {
    flex-direction: column;
    div:first-of-type, img { width: 100%; }
    div:first-of-type { padding-bottom: 1em; }
    li { line-height: 25px !important; }
  }
  #posts-page {
    flex-direction: column;
  }
  #posts-recent {
    margin-left: 0px;
    width: 100%;
    h2 { text-align: center; margin-top: 1em; margin-bottom: 1em; flex-wrap: wrap; }
    a {line-height: 3em;}
  }
}

