
.hidden {
   display: none;
}

.button {
   width: 140px;
   cursor: pointer;
   padding: 1em;
   border-radius: 0.2em;
   border: none;
   color: white;
   font-weight: bold;
   font-size: 1em;
   transition: all .5s ease;
   background-color: $blue;

   &:hover {
      background-color: darken($yellow, 15%);
   }
   &.disabled {
      opacity: 0.5;
      &:hover{
       background-color: $yellow;
      }
   }
}
.form {
   width: 100%;
   margin: auto;
   margin-right: 3px;
   //padding: 5em;
   //padding-top: 2em;
   //padding-bottom: 2em;
   padding: 1.5em;
   background-color: white;
   font-family: "Raleway", sans-serif;
   color: $blue;
   border-radius: 0.2em;
   border: solid 1px lightgrey;
   min-height: 500px;
   //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  p { min-width: 50px; width: 100%; margin-top: 0; margin-bottom: 1;
    color: black; margin-bottom: 5px; }
  h2 { margin: 0; margin-bottom: 1em; }
  .simulateur-titre {
    margin-bottom: 2em; font-size: 1.7em;
  }
  label { font-family: 'ABeeZee', sans-serif; width: 100%; }
  input, select {
    width: 100%;
    border: solid 1px lightgrey;
    background-color: transparent;
    //border-bottom: solid 0.5px white;
    font-family: 'ABeeZee';
    line-height: 4ch;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'ABeeZee';
    line-height: 4ch;
    background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #E7EFF8 0px);
    background-size: 100% 4ch;
  }
  input::placeholder, textarea::placeholder {
    color: white;
    opacity: 70%;
    font-family: 'ABeeZee';
  }
  input:focus, textarea:focus {
    outline: none;
  }
  select {
    width: 100%;
    line-height: 4ch;
    height: 4ch;
    border: solid 1px lightgrey;
    margin-bottom: 2em;
  }
  .radios {
    display: flex;
    margin-bottom: 1em;
    //justify-content: space-between;
    .residence.radio {
      border: solid 1px;
      display: flex;
      align-items: center;
      cursor: pointer;
      //justify-content: space-between;
      flex-flow: row-reverse;
      width: auto;
      padding: 0.5em;
      padding-left: 2em;
      padding-right: 2em;
      border-radius: 5px;
      input {display: none;}
      &.checked {
        background-color: $yellow;
        color: white;
        border: solid $yellow;
      }
    }
    .residence.radio {
      margin-right: 10px;
    }
  }

   .progress-bar {
      width: 100%;
      list-style-type: none;
      display: flex;
      padding: 0;
      margin-top: 1em;
      margin-bottom: 2.5em;
      align-items: center;
      justify-content: space-around;

      li.progress-bar__dot {
        display: block;
        width: 0.6em;
        border-radius: 1000em;
        height: 0.6em;
        border: 0.2em solid $yellow;
        background-color: white;
        cursor:pointer;
        transition: all .5s ease;
        margin: 0;
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        &.full {
           background-color: $blue;
           color: white;
        }
      }
      li.progress-bar__connector {
        display: block;
        width: 5em;
        border-radius: 1000em;
        height: 0.1em;
        background-color: $orange;
        margin-top: 0.45em;
        margin: 0;
        visibility: hidden;
      }
   }
   label {
      //font-weight: bold;
      //font-size: 1.2em;
   }
   input {
      //width: 100%;
      //padding: 1.3em;
      //margin-bottom: 3em;
      //box-sizing: border-box;
      //margin-top: 1em;
      //border: none;
      //border-radius: 0.5em;
      //background-color:$lightgrey;
      //font-size:1em;
      //font-family: "Raleway", sans-serif;
      //&:focus {
      //   border: none;
      //}
   }
   .button-group {
      //width: 100%;
      //display: flex;
      //justify-content: space-between;
      //margin-top:50px;
   }

   button#validate{
      //margin:auto;
      background-color: $yellow;
      //width:12em;
      //&:hover {
      //      background-color:darken($green, 10%);
      //}
   }
}
#prime-color {
  #color { text-align: left; }
  #aides {
    line-height: 1.5;
    text-align: left;
  }
}
.total-aides {
  color: $blue;
  font-weight: bold;
  font-size: 1.2em;
}
@media all and (max-width: 480px) {
  #simulateur {
    .radios {
      flex-wrap: wrap;
      label {
        margin: 0;
        width: 100%;
        margin: auto;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media only screen and (max-width: 40em) {
  #simulateur {
    .radios {
      flex-wrap: wrap;
      label {
        margin: 0;
        width: 100%;
        margin: auto;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: center;
      }
    }
  }
}

