.glider-contain {
  //border: solid 1px blue;
  .glider {
    div {
      //border: solid 1px red;
    }
  }
}

@media all and (max-width: 480px) {
  .glider-contain {
    .glider-prev { left: 10px; }
    .glider-next { right: 10px; }
  }
}
@media only screen and (max-width: 40em) {
  .glider-contain {
    .glider-prev { left: 10px; }
    .glider-next { right: 10px; }
  }
}
