.societe {
  h2 {
    text-align: left;
  }
}
.engagements {
  div {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    img {
      width: 4em;
      margin-right: 20px;
    }
    p { font-size: 1.1em; }
  }
}
.societe-presentation {
  display: flex;
  img { max-width: 50%; }
  div {
    h2 { text-align: left; }
    margin-left: 2em;
    max-width: 40%;
    line-height: 30px;
    letter-spacing: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
