.societe {
  h2 {
    text-align: left;
    font-weight: normal;
  }
}
.engagements {
  div {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    img {
      width: 4em;
      margin-right: 20px;
    }
    p { font-size: 1.1em; }
  }
}
.societe-presentation {
  display: flex;
  img { max-width: 50%; z-index:2 }
  div {
    h2 { text-align: left; font-weight: normal; }
    margin-left: 2em;
    max-width: 40%;
    line-height: 30px;
    letter-spacing: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  position: relative;
  .hachures {
    position: absolute;
    z-index: 1;
    left: 40%;
  }
}
.coordinates {
  display: flex;
  justify-content: space-between;
  div:first-of-type {
    display: flex;
    flex-direction: column;
    img { width: 8em; }
    h2 { text-align: left; margin-top: 0; font-weight: normal; margin-bottom: 2em; }
    p {
      font-family: "ABeeZee";
      line-height: 1.7em;
    }
  }
  .map {
    width: 600px;
    img { width: 100%; border-radius: 5px; }
  }
}
