<p>Guide de choix - Unité extérieure Compress 7000 AW</p>
<table>
    <thead>
        <tr>
            <th rowspan="2" colspan="2">Modèle du module extérieur</th>
            <th colspan="1">CS7001iAW 5 OR-S</th>
            <th colspan="1">CL6001i-Set 26 WE</th>
            <th colspan="1">CL6001i-Set 35 WE</th>
            <th colspan="1">CL6001i-Set 53 WE</th>
            <th colspan="1">CL6001i-Set 70 WE</th>
            <th colspan="1">CL6001i-Set 70 WE</th>
        </tr>
        <tr>
            <td>7 KW</td>
            <td>8 KW</td>
            <td>11 KW</td>
            <td>17 KW</td>
            <td>17 KW</td>
            <td>20 KW</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Référence</td>
            <td>-</td>
            <td>8 738 210 255</td>
            <td>8 738 210 256</td>
            <td>8 738 210 257</td>
            <td>7 738 602 089</td>
            <td>7 738 601 997</td>
            <td>7 738 601 998</td>
        </tr>
        <tr>
            <td colspan="7">Données ErP</td>
        </tr>
        <tr>
            <td>Classe d'efficacité énergétique (ErP)*<br>
                chauffage (35 °C / 55 °C)</td>
            <td>-</td>
            <td>A+++ / A++</td>
            <td>A+++ / A++</td>
            <td>A+++ / A++</td>
            <td>A+++ / A++</td>
            <td>A+++ / A++</td>
            <td>A+++ / A++</td>
        </tr>
        <tr>
            <td>Efficacité énergétique saisonnière (EtaS)<br>
                chauffage (35 °C / 55 °C)</td>
            <td>%</td>
            <td>183 / 131</td>
            <td>203 / 144</td>
            <td>194 / 145</td>
            <td>179 / 126</td>
            <td>179 / 126</td>
            <td>191 / 142</td>
        </tr>
        <tr>
            <td>Classe d'efficacité énergétique (ErP)* - ECS (profil de
                soutirage L)</td>
            <td>-</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Puissance sonore (A7 / W55) - selon EN 12102</td>
            <td>dB(A)</td>
            <td>47</td>
            <td>47</td>
            <td>48</td>
            <td>55</td>
            <td>53</td>
            <td>53</td>
        </tr>
        <tr>
            <td colspan="8">Performances générales</td>
        </tr>
        <tr>
            <td>Puissance calorifique +7 °C / +35 °C</td>
            <td>kW</td>
            <td>7</td>
            <td>8,4</td>
            <td>10,9</td>
            <td>16,9</td>
            <td>16,9</td>
            <td>16,9</td>
        </tr>
        <tr>
            <td>COP +7 °C / +35°C</td>
            <td>-</td>
            <td>4,69</td>
            <td>5,31</td>
            <td>5,02</td>
            <td>4,68</td>
            <td>5</td>
            <td>4,87</td>
        </tr>
        <tr>
            <td>Puissance calorifique +7°C/+55°C</td>
            <td>kW</td>
            <td>6,8</td>
            <td>7,5</td>
            <td>8,4</td>
            <td>14,8</td>
            <td>14,8</td>
            <td>15,9</td>
        </tr>
        <tr>
            <td>Puissance calorifique +7°C/62°C</td>
            <td>kW</td>
            <td>5,6</td>
            <td>6</td>
            <td>6,8</td>
            <td>11,6</td>
            <td>11,6</td>
            <td>12,9</td>
        </tr>
        <tr>
            <td>Puissance calorifique -7°C/+35°C</td>
            <td>kW</td>
            <td>4,7</td>
            <td>5,9</td>
            <td>8,3</td>
            <td>10,7</td>
            <td>10,7</td>
            <td>13</td>
        </tr>
        <tr>
            <td>COP -7°C/+35°C</td>
            <td>kW</td>
            <td>2,81</td>
            <td>2,79</td>
            <td>2,79</td>
            <td>2,74</td>
            <td>2,74</td>
            <td>2,55</td>
        </tr>
        <tr>
            <td>Puissance calorifique -7°C/+55°C</td>
            <td>kW</td>
            <td>4,5</td>
            <td>5,3</td>
            <td>6,9</td>
            <td>9,4</td>
            <td>9,4</td>
            <td>10,4</td>
        </tr>
        <tr>
            <td>Pression sonore (jour/mode nuit)</td>
            <td>dB(A)</td>
            <td>39/33</td>
            <td>41/36</td>
            <td>42/36</td>
            <td>42/35</td>
            <td>42/35</td>
            <td>42/36</td>
        </tr>
        <tr>
            <td>Temp. de départ max. - chauffage (PAC uniquement)</td>
            <td>°C</td>
            <td>62</td>
            <td>62</td>
            <td>62</td>
            <td>62</td>
            <td>62</td>
            <td>62</td>
        </tr>
        <tr>
            <td>Plage de temp. ext. de fonctionnement - chauffage</td>
            <td>°C</td>
            <td>-20/+35</td>
            <td>-20/+35</td>
            <td>-20/+35</td>
            <td>-20/+35</td>
            <td>-20/+35</td>
            <td>-20/+35</td>
        </tr>
        <tr>
            <td>Plage de temp. ext. de fonctionnement -
                rafraîchissement</td>
            <td>°C</td>
            <td>+15/+45</td>
            <td>+15/+45</td>
            <td>+15/+45</td>
            <td>+15/+45</td>
            <td>+15/+45</td>
            <td>+15/+45</td>
        </tr>
        <tr>
            <td colspan="8">Caractéristiques électriques</td>
        </tr>
        <tr>
            <td>Alimentation électrique</td>
            <td>Ph-V-Hz</td>
            <td>1Ph - 230V - 50Hz</td>
            <td>1Ph - 230V - 50Hz</td>
            <td>1Ph - 230V - 50Hz</td>
            <td>1Ph - 230V - 50Hz</td>
            <td>3Ph - 400V - 50Hz</td>
            <td>3Ph - 400V - 50Hz</td>
        </tr>
        <tr>
            <td>Intensité maximale</td>
            <td>A</td>
            <td>10</td>
            <td>16</td>
            <td>16</td>
            <td>25</td>
            <td>13</td>
            <td>13</td>
        </tr>
        <tr>
            <td colspan="8">Divers</td>
        </tr>
        <tr>
            <td>Dimensions (L x P x H)</td>
            <td>mm</td>
            <td>930x440x1 380</td>
            <td>930x440x1 380</td>
            <td>930x440x1 380</td>
            <td>122x545x1 695</td>
            <td>122x545x1 695</td>
            <td>122x545x1 695</td>
        </tr>
        <tr>
            <td>Poids</td>
            <td>kg</td>
            <td>88</td>
            <td>89</td>
            <td>96</td>
            <td>154</td>
            <td>154</td>
            <td>165</td>
        </tr>
        <tr>
            <td>Raccordement hydraulique de l'unité extérieure</td>
            <td>"</td>
            <td>G1</td>
            <td>G1</td>
            <td>G1</td>
            <td>G1</td>
            <td>G1</td>
            <td>G1</td>
        </tr>
        <tr>
            <td colspan="8">Données F-gaz</td>
        </tr>
        <tr>
            <td>Equipement hermétiquement scellé</td>
            <td>-</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>Oui</td>
        </tr>
        <tr>
            <td>Type de réfrigérant</td>
            <td>-</td>
            <td>R410a</td>
            <td>R410a</td>
            <td>R410a</td>
            <td>R410a</td>
            <td>R410a</td>
            <td>R410a</td>
        </tr>
        <tr>
            <td>Potentiel de réchauffement global (PRG)</td>
            <td>kg eq CO2</td>
            <td>2088</td>
            <td>2088</td>
            <td>2088</td>
            <td>2088</td>
            <td>2088</td>
            <td>2088</td>
        </tr>
        <tr>
            <td>Quantité de réfrigérant</td>
            <td>kg/teq CO2</td>
            <td>1,7/3,55</td>
            <td>1,75/3,654</td>
            <td>2,35/4,907</td>
            <td>3,3/6,89</td>
            <td>3,3/6,89</td>
            <td>4/8,352</td>
        </tr>
    </tbody>
</table>
<p>* Energy related Products : produits liés à l'énergie</p>
<p>Unité intérieure murale avec appoint électrique</p>
<table>
    <thead>
        <tr>
            <td colspan="2">Module hydraulique mural avec appoint électrique </td>
            <td colspan="3">AWE 5-9</td>
            <td colspan="3">AWE 13-17</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Référence</td>
            <td>-</td>
            <td colspan="3">7 736 900 513</td>
            <td colspan="3">7 736 900 514</td>
        </tr>
        <tr>
            <td>Compatibilité unité extérieure</td>
            <td>-</td>
            <td>5 OR-S</td>
            <td>7 OR-S</td>
            <td>9 OR-S</td>
            <td>13 OR-S</td>
            <td>13 OR-T</td>
            <td>17 OR-T</td>
        </tr>
        <tr>
            <td>Puissance de l'appoint</td>
            <td>kW</td>
            <td colspan="3">2 / 4 / 6 / 9</td>
            <td colspan="3">2 / 4 / 6 / 9</td>
        </tr>
        <tr>
            <td>Alimentation électrique (monophasé / triphasé)</td>
            <td>Ph - V - Hz</td>
            <td colspan="3">1 Ph - 230 V - 50 Hz / 3 Ph - 400 V - 50 Hz</td>
            <td colspan="3">1 Ph - 230 V - 50 Hz / 3 Ph - 400 V - 50 Hz</td>
        </tr>
        <tr>
            <td>Raccordements hydrauliques</td>
            <td>"</td>
            <td colspan="3">G1</td>
            <td colspan="3">G1</td>
        </tr>
        <tr>
            <td>Capacité du vase d'expansion</td>
            <td>|</td>
            <td colspan="3">10</td>
            <td colspan="3">10</td>
        </tr>
        <tr>
            <td>Hauteur manométrique disponible</td>
            <td>kPa</td>
            <td>67</td>
            <td>59</td>
            <td>48</td>
            <td>42</td>
            <td>42</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Dimensions (L x P x H)</td>
            <td>mm</td>
            <td colspan="3">485 x 386 x 700</td>
            <td colspan="3">485 x 386 x 700</td>
        </tr>
        <tr>
            <td>Poids</td>
            <td>kg</td>
            <td colspan="3">38</td>
            <td colspan="3">38</td>
        </tr>
    </tbody>
</table>