<p>Guide de choix - Unité extérieure Compress 7000 AW</p>
<table>
    <thead>
        <tr>
            <th rowspan="2">Modèle du module extérieur</th>
            <th colspan="1">CS7001iAW 5 OR-S</th>
            <th colspan="1">CL6001i-Set 26 WE</th>
            <th colspan="1">CL6001i-Set 35 WE</th>
            <th colspan="1">CL6001i-Set 53 WE</th>
            <th colspan="1">CL6001i-Set 70 WE</th>
            <th colspan="1">CL6001i-Set 70 WE</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>