<table>
    <thead>
        <tr>
            <th colspan="1">Caractéristiques techniques</th>
            <th colspan="1">CL6001i-Set 26 WE</th>
            <th colspan="1">CL6001i-Set 35 WE</th>
            <th colspan="1">CL6001i-Set 53 WE</th>
            <th colspan="1">CL6001i-Set 70 WE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Référence</td>
            <td>7 733 701 843</td>
            <td>7 733 701 844</td>
            <td>7 733 701 845</td>
            <td>7 733 701 846</td>
        </tr>
        <tr>
            <td>Puissance frigorifique / calorifique*</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Label ErP froid / chaud**</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>SEER / SCOP</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Plage de fonctionnement mode froid / chaud</td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Type de réfrigérant (PRG) / Charge nominale avec
                longueur standard / CO2 équiv.</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">Unité intérieure</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Débit d'air (min-max)</td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Plage de réglage de la consigne de température
                de l’eau</td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Pression sonore (min-max)</td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Puissance sonore</td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Dimensions (L x P x H)</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
            
        </tr>
        <tr>
            <td>Unité extérieure</td>
            <td></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Pression sonore</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Puissance sonore</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Dimensions (L x P x H)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </tbody>
</table>