<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../../../assets/css/styles.css">
    <!-- For styles with static names... -->
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>
  <body>

    <header>
      {% include navigation.html %}
      {% if page.url == "/" %}
        <div class="banner" style="background-image: linear-gradient(rgba(31, 90, 138, 0.55),rgba(31, 90, 138, 0.55)), url(../assets/images/banner.png);">
          <div class="inside">
            <p class="slogan">Isolez votre maison<br>
              Faites des économies d'énergie
            </p>
            <a class="btn" href="#">Contact & Devis</a>
          </div>
        </div>
      {% else %}
        <div class="banner" style="background-image: linear-gradient(rgba(31, 90, 138, 0.55),rgba(31, 90, 138, 0.55)), url(../assets/images/banner.png);">
          <div class="inside">
            <h1>{{page.titre}}</h1>
          </div>
        </div>
      {% endif %}
    </header>

    <main>
      <article>
        {{ content }}
      </article>
    </main>
    {% include footer.html %}
  </body>
  <script src="/assets/js/nav.js"></script>
</html>
